dailyStaffShowers.logicapp.json
{
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "$connections": {
            "defaultValue": {},
            "type": "Object"
        }
    },
    "triggers": {
        "When_someone_responds_to_a_custom_action": {
            "type": "ApiConnectionWebhook",
            "inputs": {
                "body": {
                    "CallbackUrl": "@{listCallbackUrl()}"
                },
                "host": {
                    "connection": {
                        "name": "@parameters('$connections')['kaizala']['connectionId']"
                    }
                },
                "path": "/v1/webhook",
                "queries": {
                    "actionPackageId": "f194492f-7bef-454e-bdbb-22d90c54dc75.6",
                    "groupId": "94865b2a-c452-431c-848e-a7c37a437f3f@2",
                    "objectId": "00000000-0000-0000-0000-000000000000"
                }
            }
        }
    },
    "actions": {
        "Condition": {
            "actions": {
                "Add_a_row_into_a_table": {
                    "runAfter": {},
                    "metadata": {
                        "012DAKHSLD4SM5TEODJBH2CO4NBOTQF5W3": "/EHS/Checklists/Daily/Staff showers, toilets & change room daily checklist (1).xlsx"
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "Any damage has been reported for repair": "@triggerBody()?['answer37_with_singular_value']",
                            "Bins are not overfull": "@triggerBody()?['answer34_with_singular_value']",
                            "Change room area is clean and dry": "@triggerBody()?['answer49_with_singular_value']",
                            "Date": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                            "Employee name": "@triggerBody()?['answer3']",
                            "Floors are clean, dry and free of litter": "@triggerBody()?['answer22_with_singular_value']",
                            "General toilet area is clean and tidy": "@triggerBody()?['answer4_with_singular_value']",
                            "Location": "@{string(triggerBody()?['answer59']['n'])}",
                            "Mirrors are clean": "@triggerBody()?['answer19_with_singular_value']",
                            "No blockages in the drain": "@triggerBody()?['answer46_with_singular_value']",
                            "No damage to report in the area": "@triggerBody()?['answer52_with_singular_value']",
                            "No personal belongings of staff left behind": "@triggerBody()?['answer55_with_singular_value']",
                            "Photo": "-@{triggerBody()?['answer6']}",
                            "Photo11": "-@{triggerBody()?['answer24']}",
                            "Photo13": "-@{triggerBody()?['answer27']}",
                            "Photo15": "-@{triggerBody()?['answer30']}",
                            "Photo17": "-@{triggerBody()?['answer33']}",
                            "Photo19": "-@{triggerBody()?['answer36']}",
                            "Photo2": "-@{triggerBody()?['answer9']}",
                            "Photo21": "-@{triggerBody()?['answer39']}",
                            "Photo23": "-@{triggerBody()?['answer42']}",
                            "Photo25": "-@{triggerBody()?['answer45']}",
                            "Photo27": "-@{triggerBody()?['answer48']}",
                            "Photo29": "-@{triggerBody()?['answer51']}",
                            "Photo3": "-@{triggerBody()?['answer12']}",
                            "Photo30": "-@{triggerBody()?['answer54']}",
                            "Photo31": "-@{triggerBody()?['answer57']}",
                            "Photo5": "-@{triggerBody()?['answer15']}",
                            "Photo7": "-@{triggerBody()?['answer18']}",
                            "Photo9": "-@{triggerBody()?['answer21']}",
                            "Shower curtain is clean and dry": "@triggerBody()?['answer43_with_singular_value']",
                            "Showers are clean and dry": "@triggerBody()?['answer40_with_singular_value']",
                            "Sufficient soap is available im each dispenser": "@triggerBody()?['answer31_with_singular_value']",
                            "Sufficient toilet paper in each cubicle": "@triggerBody()?['answer28_with_singular_value']",
                            "Toilet seats are not cracked": "@triggerBody()?['answer10_with_singular_value']",
                            "Toilet seats are securely fixed on each toilet": "@triggerBody()?['answer13_with_singular_value']",
                            "Toilets are flushed and clean": "@triggerBody()?['answer7_with_singular_value']",
                            "Upload self image on location of inspection at time of inspection": "@triggerBody()?['answer58']",
                            "Walls and tiles are clean": "@triggerBody()?['answer25_with_singular_value']",
                            "Wash basins are clean": "@triggerBody()?['answer16_with_singular_value']",
                            "You answered No, explain": "-@{triggerBody()?['answer5']}",
                            "You answered No, explain10": "-@{triggerBody()?['answer23']}",
                            "You answered No, explain12": "-@{triggerBody()?['answer26']}",
                            "You answered No, explain14": "-@{triggerBody()?['answer29']}",
                            "You answered No, explain16": "-@{triggerBody()?['answer32']}",
                            "You answered No, explain18": "-@{triggerBody()?['answer35']}",
                            "You answered No, explain2": "-@{triggerBody()?['answer11']}",
                            "You answered No, explain20": "-@{triggerBody()?['answer38']}",
                            "You answered No, explain22": "-@{triggerBody()?['answer41']}",
                            "You answered No, explain24": "-@{triggerBody()?['answer44']}",
                            "You answered No, explain26": "-@{triggerBody()?['answer47']}",
                            "You answered No, explain28": "-@{triggerBody()?['answer50']}",
                            "You answered No, explain29": "-@{triggerBody()?['answer53']}",
                            "You answered No, explain3": "-@{triggerBody()?['answer8']}",
                            "You answered No, explain30": "-@{triggerBody()?['answer56']}",
                            "You answered No, explain4": "-@{triggerBody()?['answer14']}",
                            "You answered No, explain6": "-@{triggerBody()?['answer17']}",
                            "You answered No, explain8": "-@{triggerBody()?['answer20']}"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['excelonlinebusiness']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/codeless/v1.2/drives/@{encodeURIComponent('b!g4E1NDjZPEeFRCZufTiEDLhfpxdwqWJBunzu_J-GK21TtwYvHnw8R4gmHuIdviQP')}/items/@{encodeURIComponent('012DAKHSLD4SM5TEODJBH2CO4NBOTQF5W3')}/workbook/tables/@{encodeURIComponent('{86BD12A5-1AF5-4BA0-AE04-3E19264A2A27}')}/rows",
                        "queries": {
                            "source": "sites/ramcogroupltd.sharepoint.com,34358183-d938-473c-8544-266e7d38840c,17a75fb8-a970-4162-ba7c-eefc9f862b6d"
                        }
                    }
                }
            },
            "runAfter": {
                "HTTP": [
                    "Succeeded"
                ]
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@triggerBody()?['answer1_with_singular_value']",
                            "\"ASL Pack"
                        ]
                    }
                ]
            },
            "type": "If"
        },
        "Condition_10": {
            "actions": {
                "Add_a_row_into_a_table_10": {
                    "runAfter": {},
                    "metadata": {
                        "012DAKHSM76VXSHT447ZGKOV65XE4AKXZ4": "/EHS/Checklists/Daily/Staff showers, toilets & change room daily checklist (1).xlsx",
                        "012DAKHSOWIBGMVLFQBZH3ACVDFRTBAEOS": "/EHS/Checklists/Daily/Staff showers, toilets & change room daily checklist (1).xlsx"
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "Any damage has been reported for repair": "@triggerBody()?['answer37_with_singular_value']",
                            "Bins are not overfull": "@triggerBody()?['answer34_with_singular_value']",
                            "Change room area is clean and dry": "@triggerBody()?['answer49_with_singular_value']",
                            "Date": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                            "Employee name": "@triggerBody()?['answer3']",
                            "Floors are clean, dry and free of litter": "@triggerBody()?['answer22_with_singular_value']",
                            "General toilet area is clean and tidy": "@triggerBody()?['answer4_with_singular_value']",
                            "Location": "@{string(triggerBody()?['answer59']['n'])}",
                            "Mirrors are clean": "@triggerBody()?['answer19_with_singular_value']",
                            "No blockages in the drain": "@triggerBody()?['answer46_with_singular_value']",
                            "No damage to report in the area": "@triggerBody()?['answer52_with_singular_value']",
                            "No personal belongings of staff left behind": "@triggerBody()?['answer55_with_singular_value']",
                            "Photo": "-@{triggerBody()?['answer6']}",
                            "Photo11": "-@{triggerBody()?['answer24']}",
                            "Photo13": "-@{triggerBody()?['answer27']}",
                            "Photo15": "-@{triggerBody()?['answer30']}",
                            "Photo17": "-@{triggerBody()?['answer33']}",
                            "Photo19": "-@{triggerBody()?['answer36']}",
                            "Photo2": "-@{triggerBody()?['answer9']}",
                            "Photo21": "-@{triggerBody()?['answer39']}",
                            "Photo23": "-@{triggerBody()?['answer42']}",
                            "Photo25": "-@{triggerBody()?['answer45']}",
                            "Photo27": "-@{triggerBody()?['answer48']}",
                            "Photo29": "-@{triggerBody()?['answer51']}",
                            "Photo3": "-@{triggerBody()?['answer12']}",
                            "Photo30": "-@{triggerBody()?['answer54']}",
                            "Photo31": "-@{triggerBody()?['answer57']}",
                            "Photo5": "-@{triggerBody()?['answer15']}",
                            "Photo7": "-@{triggerBody()?['answer18']}",
                            "Photo9": "-@{triggerBody()?['answer21']}",
                            "Shower curtain is clean and dry": "@triggerBody()?['answer43_with_singular_value']",
                            "Showers are clean and dry": "@triggerBody()?['answer40_with_singular_value']",
                            "Sufficient soap is available im each dispenser": "@triggerBody()?['answer31_with_singular_value']",
                            "Sufficient toilet paper in each cubicle": "@triggerBody()?['answer28_with_singular_value']",
                            "Toilet seats are not cracked": "@triggerBody()?['answer10_with_singular_value']",
                            "Toilet seats are securely fixed on each toilet": "@triggerBody()?['answer13_with_singular_value']",
                            "Toilets are flushed and clean": "@triggerBody()?['answer7_with_singular_value']",
                            "Upload self image on location of inspection at time of inspection": "@triggerBody()?['answer58']",
                            "Walls and tiles are clean": "@triggerBody()?['answer25_with_singular_value']",
                            "Wash basins are clean": "@triggerBody()?['answer16_with_singular_value']",
                            "You answered No, explain": "-@{triggerBody()?['answer5']}",
                            "You answered No, explain10": "-@{triggerBody()?['answer23']}",
                            "You answered No, explain12": "-@{triggerBody()?['answer26']}",
                            "You answered No, explain14": "-@{triggerBody()?['answer29']}",
                            "You answered No, explain16": "-@{triggerBody()?['answer32']}",
                            "You answered No, explain18": "-@{triggerBody()?['answer35']}",
                            "You answered No, explain2": "-@{triggerBody()?['answer11']}",
                            "You answered No, explain20": "-@{triggerBody()?['answer38']}",
                            "You answered No, explain22": "-@{triggerBody()?['answer41']}",
                            "You answered No, explain24": "-@{triggerBody()?['answer44']}",
                            "You answered No, explain26": "-@{triggerBody()?['answer47']}",
                            "You answered No, explain28": "-@{triggerBody()?['answer50']}",
                            "You answered No, explain29": "-@{triggerBody()?['answer53']}",
                            "You answered No, explain3": "-@{triggerBody()?['answer8']}",
                            "You answered No, explain30": "-@{triggerBody()?['answer56']}",
                            "You answered No, explain4": "-@{triggerBody()?['answer14']}",
                            "You answered No, explain6": "-@{triggerBody()?['answer17']}",
                            "You answered No, explain8": "-@{triggerBody()?['answer20']}"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['excelonlinebusiness']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/codeless/v1.2/drives/@{encodeURIComponent('b!g4E1NDjZPEeFRCZufTiEDLhfpxdwqWJBunzu_J-GK23CcVP99gEfQ4EjLalW8EVd')}/items/@{encodeURIComponent('012DAKHSOWIBGMVLFQBZH3ACVDFRTBAEOS')}/workbook/tables/@{encodeURIComponent('{86BD12A5-1AF5-4BA0-AE04-3E19264A2A27}')}/rows",
                        "queries": {
                            "source": "sites/ramcogroupltd.sharepoint.com,34358183-d938-473c-8544-266e7d38840c,17a75fb8-a970-4162-ba7c-eefc9f862b6d"
                        }
                    }
                }
            },
            "runAfter": {
                "Condition_9": [
                    "Succeeded"
                ]
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@triggerBody()?['answer1_with_singular_value']",
                            "\"Sintel"
                        ]
                    }
                ]
            },
            "type": "If"
        },
        "Condition_11": {
            "actions": {
                "Add_a_row_into_a_table_11": {
                    "runAfter": {},
                    "metadata": {
                        "012DAKHSM76VXSHT447ZGKOV65XE4AKXZ4": "/EHS/Checklists/Daily/Staff showers, toilets & change room daily checklist (1).xlsx",
                        "012DAKHSPKY2BI6CTMW5CJR6MZY5ZRAX2Y": "/EHS/Checklists/Daily/Staff showers, toilets & change room daily checklist (1).xlsx"
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "Any damage has been reported for repair": "@triggerBody()?['answer37_with_singular_value']",
                            "Bins are not overfull": "@triggerBody()?['answer34_with_singular_value']",
                            "Change room area is clean and dry": "@triggerBody()?['answer49_with_singular_value']",
                            "Date": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                            "Employee name": "@triggerBody()?['answer3']",
                            "Floors are clean, dry and free of litter": "@triggerBody()?['answer22_with_singular_value']",
                            "General toilet area is clean and tidy": "@triggerBody()?['answer4_with_singular_value']",
                            "Location": "@{string(triggerBody()?['answer59']['n'])}",
                            "Mirrors are clean": "@triggerBody()?['answer19_with_singular_value']",
                            "No blockages in the drain": "@triggerBody()?['answer46_with_singular_value']",
                            "No damage to report in the area": "@triggerBody()?['answer52_with_singular_value']",
                            "No personal belongings of staff left behind": "@triggerBody()?['answer55_with_singular_value']",
                            "Photo": "-@{triggerBody()?['answer6']}",
                            "Photo11": "-@{triggerBody()?['answer24']}",
                            "Photo13": "-@{triggerBody()?['answer27']}",
                            "Photo15": "-@{triggerBody()?['answer30']}",
                            "Photo17": "-@{triggerBody()?['answer33']}",
                            "Photo19": "-@{triggerBody()?['answer36']}",
                            "Photo2": "-@{triggerBody()?['answer9']}",
                            "Photo21": "-@{triggerBody()?['answer39']}",
                            "Photo23": "-@{triggerBody()?['answer42']}",
                            "Photo25": "-@{triggerBody()?['answer45']}",
                            "Photo27": "-@{triggerBody()?['answer48']}",
                            "Photo29": "-@{triggerBody()?['answer51']}",
                            "Photo3": "-@{triggerBody()?['answer12']}",
                            "Photo30": "-@{triggerBody()?['answer54']}",
                            "Photo31": "-@{triggerBody()?['answer57']}",
                            "Photo5": "-@{triggerBody()?['answer15']}",
                            "Photo7": "-@{triggerBody()?['answer18']}",
                            "Photo9": "-@{triggerBody()?['answer21']}",
                            "Shower curtain is clean and dry": "@triggerBody()?['answer43_with_singular_value']",
                            "Showers are clean and dry": "@triggerBody()?['answer40_with_singular_value']",
                            "Sufficient soap is available im each dispenser": "@triggerBody()?['answer31_with_singular_value']",
                            "Sufficient toilet paper in each cubicle": "@triggerBody()?['answer28_with_singular_value']",
                            "Toilet seats are not cracked": "@triggerBody()?['answer10_with_singular_value']",
                            "Toilet seats are securely fixed on each toilet": "@triggerBody()?['answer13_with_singular_value']",
                            "Toilets are flushed and clean": "@triggerBody()?['answer7_with_singular_value']",
                            "Upload self image on location of inspection at time of inspection": "@triggerBody()?['answer58']",
                            "Walls and tiles are clean": "@triggerBody()?['answer25_with_singular_value']",
                            "Wash basins are clean": "@triggerBody()?['answer16_with_singular_value']",
                            "You answered No, explain": "-@{triggerBody()?['answer5']}",
                            "You answered No, explain10": "-@{triggerBody()?['answer23']}",
                            "You answered No, explain12": "-@{triggerBody()?['answer26']}",
                            "You answered No, explain14": "-@{triggerBody()?['answer29']}",
                            "You answered No, explain16": "-@{triggerBody()?['answer32']}",
                            "You answered No, explain18": "-@{triggerBody()?['answer35']}",
                            "You answered No, explain2": "-@{triggerBody()?['answer11']}",
                            "You answered No, explain20": "-@{triggerBody()?['answer38']}",
                            "You answered No, explain22": "-@{triggerBody()?['answer41']}",
                            "You answered No, explain24": "-@{triggerBody()?['answer44']}",
                            "You answered No, explain26": "-@{triggerBody()?['answer47']}",
                            "You answered No, explain28": "-@{triggerBody()?['answer50']}",
                            "You answered No, explain29": "-@{triggerBody()?['answer53']}",
                            "You answered No, explain3": "-@{triggerBody()?['answer8']}",
                            "You answered No, explain30": "-@{triggerBody()?['answer56']}",
                            "You answered No, explain4": "-@{triggerBody()?['answer14']}",
                            "You answered No, explain6": "-@{triggerBody()?['answer17']}",
                            "You answered No, explain8": "-@{triggerBody()?['answer20']}"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['excelonlinebusiness']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/codeless/v1.2/drives/@{encodeURIComponent('b!g4E1NDjZPEeFRCZufTiEDLhfpxdwqWJBunzu_J-GK23SOjeg2ex3SKPV30tAC8Sq')}/items/@{encodeURIComponent('012DAKHSPKY2BI6CTMW5CJR6MZY5ZRAX2Y')}/workbook/tables/@{encodeURIComponent('{86BD12A5-1AF5-4BA0-AE04-3E19264A2A27}')}/rows",
                        "queries": {
                            "source": "sites/ramcogroupltd.sharepoint.com,34358183-d938-473c-8544-266e7d38840c,17a75fb8-a970-4162-ba7c-eefc9f862b6d"
                        }
                    }
                }
            },
            "runAfter": {
                "Condition_10": [
                    "Succeeded"
                ]
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@triggerBody()?['answer1_with_singular_value']",
                            "\"TPSL"
                        ]
                    }
                ]
            },
            "type": "If"
        },
        "Condition_12": {
            "actions": {
                "Add_a_row_into_a_table_12": {
                    "runAfter": {},
                    "metadata": {
                        "012DAKHSJ5E7WR3OZIBRB3HESCL366U6RF": "/EHS/Checklists/Daily/Staff showers, toilets & change room daily checklist (1).xlsx",
                        "012DAKHSM76VXSHT447ZGKOV65XE4AKXZ4": "/EHS/Checklists/Daily/Staff showers, toilets & change room daily checklist (1).xlsx"
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "Any damage has been reported for repair": "@triggerBody()?['answer37_with_singular_value']",
                            "Bins are not overfull": "@triggerBody()?['answer34_with_singular_value']",
                            "Change room area is clean and dry": "@triggerBody()?['answer49_with_singular_value']",
                            "Date": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                            "Employee name": "@triggerBody()?['answer3']",
                            "Floors are clean, dry and free of litter": "@triggerBody()?['answer22_with_singular_value']",
                            "General toilet area is clean and tidy": "@triggerBody()?['answer4_with_singular_value']",
                            "Location": "@{string(triggerBody()?['answer59']['n'])}",
                            "Mirrors are clean": "@triggerBody()?['answer19_with_singular_value']",
                            "No blockages in the drain": "@triggerBody()?['answer46_with_singular_value']",
                            "No damage to report in the area": "@triggerBody()?['answer52_with_singular_value']",
                            "No personal belongings of staff left behind": "@triggerBody()?['answer55_with_singular_value']",
                            "Photo": "-@{triggerBody()?['answer6']}",
                            "Photo11": "-@{triggerBody()?['answer24']}",
                            "Photo13": "-@{triggerBody()?['answer27']}",
                            "Photo15": "-@{triggerBody()?['answer30']}",
                            "Photo17": "-@{triggerBody()?['answer33']}",
                            "Photo19": "-@{triggerBody()?['answer36']}",
                            "Photo2": "-@{triggerBody()?['answer9']}",
                            "Photo21": "-@{triggerBody()?['answer39']}",
                            "Photo23": "-@{triggerBody()?['answer42']}",
                            "Photo25": "-@{triggerBody()?['answer45']}",
                            "Photo27": "-@{triggerBody()?['answer48']}",
                            "Photo29": "-@{triggerBody()?['answer51']}",
                            "Photo3": "-@{triggerBody()?['answer12']}",
                            "Photo30": "-@{triggerBody()?['answer54']}",
                            "Photo31": "-@{triggerBody()?['answer57']}",
                            "Photo5": "-@{triggerBody()?['answer15']}",
                            "Photo7": "-@{triggerBody()?['answer18']}",
                            "Photo9": "-@{triggerBody()?['answer21']}",
                            "Shower curtain is clean and dry": "@triggerBody()?['answer43_with_singular_value']",
                            "Showers are clean and dry": "@triggerBody()?['answer40_with_singular_value']",
                            "Sufficient soap is available im each dispenser": "@triggerBody()?['answer31_with_singular_value']",
                            "Sufficient toilet paper in each cubicle": "@triggerBody()?['answer28_with_singular_value']",
                            "Toilet seats are not cracked": "@triggerBody()?['answer10_with_singular_value']",
                            "Toilet seats are securely fixed on each toilet": "@triggerBody()?['answer13_with_singular_value']",
                            "Toilets are flushed and clean": "@triggerBody()?['answer7_with_singular_value']",
                            "Upload self image on location of inspection at time of inspection": "@triggerBody()?['answer58']",
                            "Walls and tiles are clean": "@triggerBody()?['answer25_with_singular_value']",
                            "Wash basins are clean": "@triggerBody()?['answer16_with_singular_value']",
                            "You answered No, explain": "-@{triggerBody()?['answer5']}",
                            "You answered No, explain10": "-@{triggerBody()?['answer23']}",
                            "You answered No, explain12": "-@{triggerBody()?['answer26']}",
                            "You answered No, explain14": "-@{triggerBody()?['answer29']}",
                            "You answered No, explain16": "-@{triggerBody()?['answer32']}",
                            "You answered No, explain18": "-@{triggerBody()?['answer35']}",
                            "You answered No, explain2": "-@{triggerBody()?['answer11']}",
                            "You answered No, explain20": "-@{triggerBody()?['answer38']}",
                            "You answered No, explain22": "-@{triggerBody()?['answer41']}",
                            "You answered No, explain24": "-@{triggerBody()?['answer44']}",
                            "You answered No, explain26": "-@{triggerBody()?['answer47']}",
                            "You answered No, explain28": "-@{triggerBody()?['answer50']}",
                            "You answered No, explain29": "-@{triggerBody()?['answer53']}",
                            "You answered No, explain3": "-@{triggerBody()?['answer8']}",
                            "You answered No, explain30": "-@{triggerBody()?['answer56']}",
                            "You answered No, explain4": "-@{triggerBody()?['answer14']}",
                            "You answered No, explain6": "-@{triggerBody()?['answer17']}",
                            "You answered No, explain8": "-@{triggerBody()?['answer20']}"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['excelonlinebusiness']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/codeless/v1.2/drives/@{encodeURIComponent('b!g4E1NDjZPEeFRCZufTiEDLhfpxdwqWJBunzu_J-GK21OE4Lc5Sx1SZwFdBOFz34o')}/items/@{encodeURIComponent('012DAKHSJ5E7WR3OZIBRB3HESCL366U6RF')}/workbook/tables/@{encodeURIComponent('{86BD12A5-1AF5-4BA0-AE04-3E19264A2A27}')}/rows",
                        "queries": {
                            "source": "sites/ramcogroupltd.sharepoint.com,34358183-d938-473c-8544-266e7d38840c,17a75fb8-a970-4162-ba7c-eefc9f862b6d"
                        }
                    }
                }
            },
            "runAfter": {
                "Condition_11": [
                    "Succeeded"
                ]
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@triggerBody()?['answer1_with_singular_value']",
                            "\"Wild Elegance"
                        ]
                    }
                ]
            },
            "type": "If"
        },
        "Condition_2": {
            "actions": {
                "Add_a_row_into_a_table_2": {
                    "runAfter": {},
                    "metadata": {
                        "012DAKHSM76VXSHT447ZGKOV65XE4AKXZ4": "/EHS/Checklists/Daily/Staff showers, toilets & change room daily checklist (1).xlsx"
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "Any damage has been reported for repair": "@triggerBody()?['answer37_with_singular_value']",
                            "Bins are not overfull": "@triggerBody()?['answer34_with_singular_value']",
                            "Change room area is clean and dry": "@triggerBody()?['answer49_with_singular_value']",
                            "Date": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                            "Employee name": "@triggerBody()?['answer3']",
                            "Floors are clean, dry and free of litter": "@triggerBody()?['answer22_with_singular_value']",
                            "General toilet area is clean and tidy": "@triggerBody()?['answer4_with_singular_value']",
                            "Location": "@{string(triggerBody()?['answer59']['n'])}",
                            "Mirrors are clean": "@triggerBody()?['answer19_with_singular_value']",
                            "No blockages in the drain": "@triggerBody()?['answer46_with_singular_value']",
                            "No damage to report in the area": "@triggerBody()?['answer52_with_singular_value']",
                            "No personal belongings of staff left behind": "@triggerBody()?['answer55_with_singular_value']",
                            "Photo": "-@{triggerBody()?['answer6']}",
                            "Photo11": "-@{triggerBody()?['answer24']}",
                            "Photo13": "-@{triggerBody()?['answer27']}",
                            "Photo15": "-@{triggerBody()?['answer30']}",
                            "Photo17": "-@{triggerBody()?['answer33']}",
                            "Photo19": "-@{triggerBody()?['answer36']}",
                            "Photo2": "-@{triggerBody()?['answer9']}",
                            "Photo21": "-@{triggerBody()?['answer39']}",
                            "Photo23": "-@{triggerBody()?['answer42']}",
                            "Photo25": "-@{triggerBody()?['answer45']}",
                            "Photo27": "-@{triggerBody()?['answer48']}",
                            "Photo29": "-@{triggerBody()?['answer51']}",
                            "Photo3": "-@{triggerBody()?['answer12']}",
                            "Photo30": "-@{triggerBody()?['answer54']}",
                            "Photo31": "-@{triggerBody()?['answer57']}",
                            "Photo5": "-@{triggerBody()?['answer15']}",
                            "Photo7": "-@{triggerBody()?['answer18']}",
                            "Photo9": "-@{triggerBody()?['answer21']}",
                            "Shower curtain is clean and dry": "@triggerBody()?['answer43_with_singular_value']",
                            "Showers are clean and dry": "@triggerBody()?['answer40_with_singular_value']",
                            "Sufficient soap is available im each dispenser": "@triggerBody()?['answer31_with_singular_value']",
                            "Sufficient toilet paper in each cubicle": "@triggerBody()?['answer28_with_singular_value']",
                            "Toilet seats are not cracked": "@triggerBody()?['answer10_with_singular_value']",
                            "Toilet seats are securely fixed on each toilet": "@triggerBody()?['answer13_with_singular_value']",
                            "Toilets are flushed and clean": "@triggerBody()?['answer7_with_singular_value']",
                            "Upload self image on location of inspection at time of inspection": "@triggerBody()?['answer58']",
                            "Walls and tiles are clean": "@triggerBody()?['answer25_with_singular_value']",
                            "Wash basins are clean": "@triggerBody()?['answer16_with_singular_value']",
                            "You answered No, explain": "-@{triggerBody()?['answer5']}",
                            "You answered No, explain10": "-@{triggerBody()?['answer23']}",
                            "You answered No, explain12": "-@{triggerBody()?['answer26']}",
                            "You answered No, explain14": "-@{triggerBody()?['answer29']}",
                            "You answered No, explain16": "-@{triggerBody()?['answer32']}",
                            "You answered No, explain18": "-@{triggerBody()?['answer35']}",
                            "You answered No, explain2": "-@{triggerBody()?['answer11']}",
                            "You answered No, explain20": "-@{triggerBody()?['answer38']}",
                            "You answered No, explain22": "-@{triggerBody()?['answer41']}",
                            "You answered No, explain24": "-@{triggerBody()?['answer44']}",
                            "You answered No, explain26": "-@{triggerBody()?['answer47']}",
                            "You answered No, explain28": "-@{triggerBody()?['answer50']}",
                            "You answered No, explain29": "-@{triggerBody()?['answer53']}",
                            "You answered No, explain3": "-@{triggerBody()?['answer8']}",
                            "You answered No, explain30": "-@{triggerBody()?['answer56']}",
                            "You answered No, explain4": "-@{triggerBody()?['answer14']}",
                            "You answered No, explain6": "-@{triggerBody()?['answer17']}",
                            "You answered No, explain8": "-@{triggerBody()?['answer20']}"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['excelonlinebusiness']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/codeless/v1.2/drives/@{encodeURIComponent('b!g4E1NDjZPEeFRCZufTiEDLhfpxdwqWJBunzu_J-GK20_IPQJOQqtRrh4P5a0Fiel')}/items/@{encodeURIComponent('012DAKHSM76VXSHT447ZGKOV65XE4AKXZ4')}/workbook/tables/@{encodeURIComponent('{86BD12A5-1AF5-4BA0-AE04-3E19264A2A27}')}/rows",
                        "queries": {
                            "source": "sites/ramcogroupltd.sharepoint.com,34358183-d938-473c-8544-266e7d38840c,17a75fb8-a970-4162-ba7c-eefc9f862b6d"
                        }
                    }
                }
            },
            "runAfter": {
                "Condition": [
                    "Succeeded"
                ]
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@triggerBody()?['answer1_with_singular_value']",
                            "\"Flexowork"
                        ]
                    }
                ]
            },
            "type": "If"
        },
        "Condition_3": {
            "actions": {
                "Add_a_row_into_a_table_3": {
                    "runAfter": {},
                    "metadata": {
                        "012DAKHSJTKNREFSWHOJB27EFEZP2MTEYU": "/EHS/Checklists/Daily/Staff showers, toilets & change room daily checklist (1).xlsx",
                        "012DAKHSM76VXSHT447ZGKOV65XE4AKXZ4": "/EHS/Checklists/Daily/Staff showers, toilets & change room daily checklist (1).xlsx"
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "Any damage has been reported for repair": "@triggerBody()?['answer37_with_singular_value']",
                            "Bins are not overfull": "@triggerBody()?['answer34_with_singular_value']",
                            "Change room area is clean and dry": "@triggerBody()?['answer49_with_singular_value']",
                            "Date": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                            "Employee name": "@triggerBody()?['answer3']",
                            "Floors are clean, dry and free of litter": "@triggerBody()?['answer22_with_singular_value']",
                            "General toilet area is clean and tidy": "@triggerBody()?['answer4_with_singular_value']",
                            "Location": "@{string(triggerBody()?['answer59']['n'])}",
                            "Mirrors are clean": "@triggerBody()?['answer19_with_singular_value']",
                            "No blockages in the drain": "@triggerBody()?['answer46_with_singular_value']",
                            "No damage to report in the area": "@triggerBody()?['answer52_with_singular_value']",
                            "No personal belongings of staff left behind": "@triggerBody()?['answer55_with_singular_value']",
                            "Photo": "-@{triggerBody()?['answer6']}",
                            "Photo11": "-@{triggerBody()?['answer24']}",
                            "Photo13": "-@{triggerBody()?['answer27']}",
                            "Photo15": "-@{triggerBody()?['answer30']}",
                            "Photo17": "-@{triggerBody()?['answer33']}",
                            "Photo19": "-@{triggerBody()?['answer36']}",
                            "Photo2": "-@{triggerBody()?['answer9']}",
                            "Photo21": "-@{triggerBody()?['answer39']}",
                            "Photo23": "-@{triggerBody()?['answer42']}",
                            "Photo25": "-@{triggerBody()?['answer45']}",
                            "Photo27": "-@{triggerBody()?['answer48']}",
                            "Photo29": "-@{triggerBody()?['answer51']}",
                            "Photo3": "-@{triggerBody()?['answer12']}",
                            "Photo30": "-@{triggerBody()?['answer54']}",
                            "Photo31": "-@{triggerBody()?['answer57']}",
                            "Photo5": "-@{triggerBody()?['answer15']}",
                            "Photo7": "-@{triggerBody()?['answer18']}",
                            "Photo9": "-@{triggerBody()?['answer21']}",
                            "Shower curtain is clean and dry": "@triggerBody()?['answer43_with_singular_value']",
                            "Showers are clean and dry": "@triggerBody()?['answer40_with_singular_value']",
                            "Sufficient soap is available im each dispenser": "@triggerBody()?['answer31_with_singular_value']",
                            "Sufficient toilet paper in each cubicle": "@triggerBody()?['answer28_with_singular_value']",
                            "Toilet seats are not cracked": "@triggerBody()?['answer10_with_singular_value']",
                            "Toilet seats are securely fixed on each toilet": "@triggerBody()?['answer13_with_singular_value']",
                            "Toilets are flushed and clean": "@triggerBody()?['answer7_with_singular_value']",
                            "Upload self image on location of inspection at time of inspection": "@triggerBody()?['answer58']",
                            "Walls and tiles are clean": "@triggerBody()?['answer25_with_singular_value']",
                            "Wash basins are clean": "@triggerBody()?['answer16_with_singular_value']",
                            "You answered No, explain": "-@{triggerBody()?['answer5']}",
                            "You answered No, explain10": "-@{triggerBody()?['answer23']}",
                            "You answered No, explain12": "-@{triggerBody()?['answer26']}",
                            "You answered No, explain14": "-@{triggerBody()?['answer29']}",
                            "You answered No, explain16": "-@{triggerBody()?['answer32']}",
                            "You answered No, explain18": "-@{triggerBody()?['answer35']}",
                            "You answered No, explain2": "-@{triggerBody()?['answer11']}",
                            "You answered No, explain20": "-@{triggerBody()?['answer38']}",
                            "You answered No, explain22": "-@{triggerBody()?['answer41']}",
                            "You answered No, explain24": "-@{triggerBody()?['answer44']}",
                            "You answered No, explain26": "-@{triggerBody()?['answer47']}",
                            "You answered No, explain28": "-@{triggerBody()?['answer50']}",
                            "You answered No, explain29": "-@{triggerBody()?['answer53']}",
                            "You answered No, explain3": "-@{triggerBody()?['answer8']}",
                            "You answered No, explain30": "-@{triggerBody()?['answer56']}",
                            "You answered No, explain4": "-@{triggerBody()?['answer14']}",
                            "You answered No, explain6": "-@{triggerBody()?['answer17']}",
                            "You answered No, explain8": "-@{triggerBody()?['answer20']}"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['excelonlinebusiness']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/codeless/v1.2/drives/@{encodeURIComponent('b!g4E1NDjZPEeFRCZufTiEDLhfpxdwqWJBunzu_J-GK20Ih8Qra-VNQ5WlPcEmbDcI')}/items/@{encodeURIComponent('012DAKHSJTKNREFSWHOJB27EFEZP2MTEYU')}/workbook/tables/@{encodeURIComponent('{86BD12A5-1AF5-4BA0-AE04-3E19264A2A27}')}/rows",
                        "queries": {
                            "source": "sites/ramcogroupltd.sharepoint.com,34358183-d938-473c-8544-266e7d38840c,17a75fb8-a970-4162-ba7c-eefc9f862b6d"
                        }
                    }
                }
            },
            "runAfter": {
                "Condition_2": [
                    "Succeeded"
                ]
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@triggerBody()?['answer1_with_singular_value']",
                            "\"MarketPower"
                        ]
                    }
                ]
            },
            "type": "If"
        },
        "Condition_4": {
            "actions": {
                "Add_a_row_into_a_table_4": {
                    "runAfter": {},
                    "metadata": {
                        "012DAKHSKI55ZXNWZOBFBZNQQC3JUPOKVN": "/EHS/Checklists/Daily/Staff showers, toilets & change room daily checklist (1).xlsx",
                        "012DAKHSM76VXSHT447ZGKOV65XE4AKXZ4": "/EHS/Checklists/Daily/Staff showers, toilets & change room daily checklist (1).xlsx"
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "Any damage has been reported for repair": "@triggerBody()?['answer37_with_singular_value']",
                            "Bins are not overfull": "@triggerBody()?['answer34_with_singular_value']",
                            "Change room area is clean and dry": "@triggerBody()?['answer49_with_singular_value']",
                            "Date": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                            "Employee name": "@triggerBody()?['answer3']",
                            "Floors are clean, dry and free of litter": "@triggerBody()?['answer22_with_singular_value']",
                            "General toilet area is clean and tidy": "@triggerBody()?['answer4_with_singular_value']",
                            "Location": "@{string(triggerBody()?['answer59']['n'])}",
                            "Mirrors are clean": "@triggerBody()?['answer19_with_singular_value']",
                            "No blockages in the drain": "@triggerBody()?['answer46_with_singular_value']",
                            "No damage to report in the area": "@triggerBody()?['answer52_with_singular_value']",
                            "No personal belongings of staff left behind": "@triggerBody()?['answer55_with_singular_value']",
                            "Photo": "-@{triggerBody()?['answer6']}",
                            "Photo11": "-@{triggerBody()?['answer24']}",
                            "Photo13": "-@{triggerBody()?['answer27']}",
                            "Photo15": "-@{triggerBody()?['answer30']}",
                            "Photo17": "-@{triggerBody()?['answer33']}",
                            "Photo19": "-@{triggerBody()?['answer36']}",
                            "Photo2": "-@{triggerBody()?['answer9']}",
                            "Photo21": "-@{triggerBody()?['answer39']}",
                            "Photo23": "-@{triggerBody()?['answer42']}",
                            "Photo25": "-@{triggerBody()?['answer45']}",
                            "Photo27": "-@{triggerBody()?['answer48']}",
                            "Photo29": "-@{triggerBody()?['answer51']}",
                            "Photo3": "-@{triggerBody()?['answer12']}",
                            "Photo30": "-@{triggerBody()?['answer54']}",
                            "Photo31": "-@{triggerBody()?['answer57']}",
                            "Photo5": "-@{triggerBody()?['answer15']}",
                            "Photo7": "-@{triggerBody()?['answer18']}",
                            "Photo9": "-@{triggerBody()?['answer21']}",
                            "Shower curtain is clean and dry": "@triggerBody()?['answer43_with_singular_value']",
                            "Showers are clean and dry": "@triggerBody()?['answer40_with_singular_value']",
                            "Sufficient soap is available im each dispenser": "@triggerBody()?['answer31_with_singular_value']",
                            "Sufficient toilet paper in each cubicle": "@triggerBody()?['answer28_with_singular_value']",
                            "Toilet seats are not cracked": "@triggerBody()?['answer10_with_singular_value']",
                            "Toilet seats are securely fixed on each toilet": "@triggerBody()?['answer13_with_singular_value']",
                            "Toilets are flushed and clean": "@triggerBody()?['answer7_with_singular_value']",
                            "Upload self image on location of inspection at time of inspection": "@triggerBody()?['answer58']",
                            "Walls and tiles are clean": "@triggerBody()?['answer25_with_singular_value']",
                            "Wash basins are clean": "@triggerBody()?['answer16_with_singular_value']",
                            "You answered No, explain": "-@{triggerBody()?['answer5']}",
                            "You answered No, explain10": "-@{triggerBody()?['answer23']}",
                            "You answered No, explain12": "-@{triggerBody()?['answer26']}",
                            "You answered No, explain14": "-@{triggerBody()?['answer29']}",
                            "You answered No, explain16": "-@{triggerBody()?['answer32']}",
                            "You answered No, explain18": "-@{triggerBody()?['answer35']}",
                            "You answered No, explain2": "-@{triggerBody()?['answer11']}",
                            "You answered No, explain20": "-@{triggerBody()?['answer38']}",
                            "You answered No, explain22": "-@{triggerBody()?['answer41']}",
                            "You answered No, explain24": "-@{triggerBody()?['answer44']}",
                            "You answered No, explain26": "-@{triggerBody()?['answer47']}",
                            "You answered No, explain28": "-@{triggerBody()?['answer50']}",
                            "You answered No, explain29": "-@{triggerBody()?['answer53']}",
                            "You answered No, explain3": "-@{triggerBody()?['answer8']}",
                            "You answered No, explain30": "-@{triggerBody()?['answer56']}",
                            "You answered No, explain4": "-@{triggerBody()?['answer14']}",
                            "You answered No, explain6": "-@{triggerBody()?['answer17']}",
                            "You answered No, explain8": "-@{triggerBody()?['answer20']}"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['excelonlinebusiness']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/codeless/v1.2/drives/@{encodeURIComponent('b!g4E1NDjZPEeFRCZufTiEDLhfpxdwqWJBunzu_J-GK22X5-_jdHAvQLoyxRsU7UeG')}/items/@{encodeURIComponent('012DAKHSKI55ZXNWZOBFBZNQQC3JUPOKVN')}/workbook/tables/@{encodeURIComponent('{86BD12A5-1AF5-4BA0-AE04-3E19264A2A27}')}/rows",
                        "queries": {
                            "source": "sites/ramcogroupltd.sharepoint.com,34358183-d938-473c-8544-266e7d38840c,17a75fb8-a970-4162-ba7c-eefc9f862b6d"
                        }
                    }
                }
            },
            "runAfter": {
                "Condition_3": [
                    "Succeeded"
                ]
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@triggerBody()?['answer1_with_singular_value']",
                            "\"Panthera"
                        ]
                    }
                ]
            },
            "type": "If"
        },
        "Condition_5": {
            "actions": {
                "Add_a_row_into_a_table_5": {
                    "runAfter": {},
                    "metadata": {
                        "012DAKHSLHMUE2PM3SYBHJ7A2AOYP5FLKR": "/EHS/Checklists/Daily/Staff showers, toilets & change room daily checklist (1).xlsx",
                        "012DAKHSM76VXSHT447ZGKOV65XE4AKXZ4": "/EHS/Checklists/Daily/Staff showers, toilets & change room daily checklist (1).xlsx"
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "Any damage has been reported for repair": "@triggerBody()?['answer37_with_singular_value']",
                            "Bins are not overfull": "@triggerBody()?['answer34_with_singular_value']",
                            "Change room area is clean and dry": "@triggerBody()?['answer49_with_singular_value']",
                            "Date": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                            "Employee name": "@triggerBody()?['answer3']",
                            "Floors are clean, dry and free of litter": "@triggerBody()?['answer22_with_singular_value']",
                            "General toilet area is clean and tidy": "@triggerBody()?['answer4_with_singular_value']",
                            "Location": "@{string(triggerBody()?['answer59']['n'])}",
                            "Mirrors are clean": "@triggerBody()?['answer19_with_singular_value']",
                            "No blockages in the drain": "@triggerBody()?['answer46_with_singular_value']",
                            "No damage to report in the area": "@triggerBody()?['answer52_with_singular_value']",
                            "No personal belongings of staff left behind": "@triggerBody()?['answer55_with_singular_value']",
                            "Photo": "-@{triggerBody()?['answer6']}",
                            "Photo11": "-@{triggerBody()?['answer24']}",
                            "Photo13": "-@{triggerBody()?['answer27']}",
                            "Photo15": "-@{triggerBody()?['answer30']}",
                            "Photo17": "-@{triggerBody()?['answer33']}",
                            "Photo19": "-@{triggerBody()?['answer36']}",
                            "Photo2": "-@{triggerBody()?['answer9']}",
                            "Photo21": "-@{triggerBody()?['answer39']}",
                            "Photo23": "-@{triggerBody()?['answer42']}",
                            "Photo25": "-@{triggerBody()?['answer45']}",
                            "Photo27": "-@{triggerBody()?['answer48']}",
                            "Photo29": "-@{triggerBody()?['answer51']}",
                            "Photo3": "-@{triggerBody()?['answer12']}",
                            "Photo30": "-@{triggerBody()?['answer54']}",
                            "Photo31": "-@{triggerBody()?['answer57']}",
                            "Photo5": "-@{triggerBody()?['answer15']}",
                            "Photo7": "-@{triggerBody()?['answer18']}",
                            "Photo9": "-@{triggerBody()?['answer21']}",
                            "Shower curtain is clean and dry": "@triggerBody()?['answer43_with_singular_value']",
                            "Showers are clean and dry": "@triggerBody()?['answer40_with_singular_value']",
                            "Sufficient soap is available im each dispenser": "@triggerBody()?['answer31_with_singular_value']",
                            "Sufficient toilet paper in each cubicle": "@triggerBody()?['answer28_with_singular_value']",
                            "Toilet seats are not cracked": "@triggerBody()?['answer10_with_singular_value']",
                            "Toilet seats are securely fixed on each toilet": "@triggerBody()?['answer13_with_singular_value']",
                            "Toilets are flushed and clean": "@triggerBody()?['answer7_with_singular_value']",
                            "Upload self image on location of inspection at time of inspection": "@triggerBody()?['answer58']",
                            "Walls and tiles are clean": "@triggerBody()?['answer25_with_singular_value']",
                            "Wash basins are clean": "@triggerBody()?['answer16_with_singular_value']",
                            "You answered No, explain": "-@{triggerBody()?['answer5']}",
                            "You answered No, explain10": "-@{triggerBody()?['answer23']}",
                            "You answered No, explain12": "-@{triggerBody()?['answer26']}",
                            "You answered No, explain14": "-@{triggerBody()?['answer29']}",
                            "You answered No, explain16": "-@{triggerBody()?['answer32']}",
                            "You answered No, explain18": "-@{triggerBody()?['answer35']}",
                            "You answered No, explain2": "-@{triggerBody()?['answer11']}",
                            "You answered No, explain20": "-@{triggerBody()?['answer38']}",
                            "You answered No, explain22": "-@{triggerBody()?['answer41']}",
                            "You answered No, explain24": "-@{triggerBody()?['answer44']}",
                            "You answered No, explain26": "-@{triggerBody()?['answer47']}",
                            "You answered No, explain28": "-@{triggerBody()?['answer50']}",
                            "You answered No, explain29": "-@{triggerBody()?['answer53']}",
                            "You answered No, explain3": "-@{triggerBody()?['answer8']}",
                            "You answered No, explain30": "-@{triggerBody()?['answer56']}",
                            "You answered No, explain4": "-@{triggerBody()?['answer14']}",
                            "You answered No, explain6": "-@{triggerBody()?['answer17']}",
                            "You answered No, explain8": "-@{triggerBody()?['answer20']}"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['excelonlinebusiness']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/codeless/v1.2/drives/@{encodeURIComponent('b!g4E1NDjZPEeFRCZufTiEDLhfpxdwqWJBunzu_J-GK22h32uewUkkT5lZnlVNqBNw')}/items/@{encodeURIComponent('012DAKHSLHMUE2PM3SYBHJ7A2AOYP5FLKR')}/workbook/tables/@{encodeURIComponent('{86BD12A5-1AF5-4BA0-AE04-3E19264A2A27}')}/rows",
                        "queries": {
                            "source": "sites/ramcogroupltd.sharepoint.com,34358183-d938-473c-8544-266e7d38840c,17a75fb8-a970-4162-ba7c-eefc9f862b6d"
                        }
                    }
                }
            },
            "runAfter": {
                "Condition_4": [
                    "Succeeded"
                ]
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@triggerBody()?['answer1_with_singular_value']",
                            "\"Polythene"
                        ]
                    }
                ]
            },
            "type": "If"
        },
        "Condition_6": {
            "actions": {
                "Add_a_row_into_a_table_6": {
                    "runAfter": {},
                    "metadata": {
                        "012DAKHSIKEAXMKZZXH5HITQNIJMSEFGMT": "/EHS/Checklists/Daily/Staff showers, toilets & change room daily checklist (1).xlsx",
                        "012DAKHSM76VXSHT447ZGKOV65XE4AKXZ4": "/EHS/Checklists/Daily/Staff showers, toilets & change room daily checklist (1).xlsx"
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "Any damage has been reported for repair": "@triggerBody()?['answer37_with_singular_value']",
                            "Bins are not overfull": "@triggerBody()?['answer34_with_singular_value']",
                            "Change room area is clean and dry": "@triggerBody()?['answer49_with_singular_value']",
                            "Date": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                            "Employee name": "@triggerBody()?['answer3']",
                            "Floors are clean, dry and free of litter": "@triggerBody()?['answer22_with_singular_value']",
                            "General toilet area is clean and tidy": "@triggerBody()?['answer4_with_singular_value']",
                            "Location": "@{string(triggerBody()?['answer59']['n'])}",
                            "Mirrors are clean": "@triggerBody()?['answer19_with_singular_value']",
                            "No blockages in the drain": "@triggerBody()?['answer46_with_singular_value']",
                            "No damage to report in the area": "@triggerBody()?['answer52_with_singular_value']",
                            "No personal belongings of staff left behind": "@triggerBody()?['answer55_with_singular_value']",
                            "Photo": "-@{triggerBody()?['answer6']}",
                            "Photo11": "-@{triggerBody()?['answer24']}",
                            "Photo13": "-@{triggerBody()?['answer27']}",
                            "Photo15": "-@{triggerBody()?['answer30']}",
                            "Photo17": "-@{triggerBody()?['answer33']}",
                            "Photo19": "-@{triggerBody()?['answer36']}",
                            "Photo2": "-@{triggerBody()?['answer9']}",
                            "Photo21": "-@{triggerBody()?['answer39']}",
                            "Photo23": "-@{triggerBody()?['answer42']}",
                            "Photo25": "-@{triggerBody()?['answer45']}",
                            "Photo27": "-@{triggerBody()?['answer48']}",
                            "Photo29": "-@{triggerBody()?['answer51']}",
                            "Photo3": "-@{triggerBody()?['answer12']}",
                            "Photo30": "-@{triggerBody()?['answer54']}",
                            "Photo31": "-@{triggerBody()?['answer57']}",
                            "Photo5": "-@{triggerBody()?['answer15']}",
                            "Photo7": "-@{triggerBody()?['answer18']}",
                            "Photo9": "-@{triggerBody()?['answer21']}",
                            "Shower curtain is clean and dry": "@triggerBody()?['answer43_with_singular_value']",
                            "Showers are clean and dry": "@triggerBody()?['answer40_with_singular_value']",
                            "Sufficient soap is available im each dispenser": "@triggerBody()?['answer31_with_singular_value']",
                            "Sufficient toilet paper in each cubicle": "@triggerBody()?['answer28_with_singular_value']",
                            "Toilet seats are not cracked": "@triggerBody()?['answer10_with_singular_value']",
                            "Toilet seats are securely fixed on each toilet": "@triggerBody()?['answer13_with_singular_value']",
                            "Toilets are flushed and clean": "@triggerBody()?['answer7_with_singular_value']",
                            "Upload self image on location of inspection at time of inspection": "@triggerBody()?['answer58']",
                            "Walls and tiles are clean": "@triggerBody()?['answer25_with_singular_value']",
                            "Wash basins are clean": "@triggerBody()?['answer16_with_singular_value']",
                            "You answered No, explain": "-@{triggerBody()?['answer5']}",
                            "You answered No, explain10": "-@{triggerBody()?['answer23']}",
                            "You answered No, explain12": "-@{triggerBody()?['answer26']}",
                            "You answered No, explain14": "-@{triggerBody()?['answer29']}",
                            "You answered No, explain16": "-@{triggerBody()?['answer32']}",
                            "You answered No, explain18": "-@{triggerBody()?['answer35']}",
                            "You answered No, explain2": "-@{triggerBody()?['answer11']}",
                            "You answered No, explain20": "-@{triggerBody()?['answer38']}",
                            "You answered No, explain22": "-@{triggerBody()?['answer41']}",
                            "You answered No, explain24": "-@{triggerBody()?['answer44']}",
                            "You answered No, explain26": "-@{triggerBody()?['answer47']}",
                            "You answered No, explain28": "-@{triggerBody()?['answer50']}",
                            "You answered No, explain29": "-@{triggerBody()?['answer53']}",
                            "You answered No, explain3": "-@{triggerBody()?['answer8']}",
                            "You answered No, explain30": "-@{triggerBody()?['answer56']}",
                            "You answered No, explain4": "-@{triggerBody()?['answer14']}",
                            "You answered No, explain6": "-@{triggerBody()?['answer17']}",
                            "You answered No, explain8": "-@{triggerBody()?['answer20']}"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['excelonlinebusiness']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/codeless/v1.2/drives/@{encodeURIComponent('b!g4E1NDjZPEeFRCZufTiEDLhfpxdwqWJBunzu_J-GK22kk4tt4keDSZ_ZdgmrQkph')}/items/@{encodeURIComponent('012DAKHSIKEAXMKZZXH5HITQNIJMSEFGMT')}/workbook/tables/@{encodeURIComponent('{86BD12A5-1AF5-4BA0-AE04-3E19264A2A27}')}/rows",
                        "queries": {
                            "source": "sites/ramcogroupltd.sharepoint.com,34358183-d938-473c-8544-266e7d38840c,17a75fb8-a970-4162-ba7c-eefc9f862b6d"
                        }
                    }
                }
            },
            "runAfter": {
                "Condition_5": [
                    "Succeeded"
                ]
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@triggerBody()?['answer1_with_singular_value']",
                            "\"PPL"
                        ]
                    }
                ]
            },
            "type": "If"
        },
        "Condition_7": {
            "actions": {
                "Add_a_row_into_a_table_7": {
                    "runAfter": {},
                    "metadata": {
                        "012DAKHSM76VXSHT447ZGKOV65XE4AKXZ4": "/EHS/Checklists/Daily/Staff showers, toilets & change room daily checklist (1).xlsx",
                        "012DAKHSNSW55CJ3EVYFGYLWHSCB6N5IYF": "/EHS/Checklists/Daily/Staff showers, toilets & change room daily checklist (1).xlsx"
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "Any damage has been reported for repair": "@triggerBody()?['answer37_with_singular_value']",
                            "Bins are not overfull": "@triggerBody()?['answer34_with_singular_value']",
                            "Change room area is clean and dry": "@triggerBody()?['answer49_with_singular_value']",
                            "Date": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                            "Employee name": "@triggerBody()?['answer3']",
                            "Floors are clean, dry and free of litter": "@triggerBody()?['answer22_with_singular_value']",
                            "General toilet area is clean and tidy": "@triggerBody()?['answer4_with_singular_value']",
                            "Location": "@{string(triggerBody()?['answer59']['n'])}",
                            "Mirrors are clean": "@triggerBody()?['answer19_with_singular_value']",
                            "No blockages in the drain": "@triggerBody()?['answer46_with_singular_value']",
                            "No damage to report in the area": "@triggerBody()?['answer52_with_singular_value']",
                            "No personal belongings of staff left behind": "@triggerBody()?['answer55_with_singular_value']",
                            "Photo": "-@{triggerBody()?['answer6']}",
                            "Photo11": "-@{triggerBody()?['answer24']}",
                            "Photo13": "-@{triggerBody()?['answer27']}",
                            "Photo15": "-@{triggerBody()?['answer30']}",
                            "Photo17": "-@{triggerBody()?['answer33']}",
                            "Photo19": "-@{triggerBody()?['answer36']}",
                            "Photo2": "-@{triggerBody()?['answer9']}",
                            "Photo21": "-@{triggerBody()?['answer39']}",
                            "Photo23": "-@{triggerBody()?['answer42']}",
                            "Photo25": "-@{triggerBody()?['answer45']}",
                            "Photo27": "-@{triggerBody()?['answer48']}",
                            "Photo29": "-@{triggerBody()?['answer51']}",
                            "Photo3": "-@{triggerBody()?['answer12']}",
                            "Photo30": "-@{triggerBody()?['answer54']}",
                            "Photo31": "-@{triggerBody()?['answer57']}",
                            "Photo5": "-@{triggerBody()?['answer15']}",
                            "Photo7": "-@{triggerBody()?['answer18']}",
                            "Photo9": "-@{triggerBody()?['answer21']}",
                            "Shower curtain is clean and dry": "@triggerBody()?['answer43_with_singular_value']",
                            "Showers are clean and dry": "@triggerBody()?['answer40_with_singular_value']",
                            "Sufficient soap is available im each dispenser": "@triggerBody()?['answer31_with_singular_value']",
                            "Sufficient toilet paper in each cubicle": "@triggerBody()?['answer28_with_singular_value']",
                            "Toilet seats are not cracked": "@triggerBody()?['answer10_with_singular_value']",
                            "Toilet seats are securely fixed on each toilet": "@triggerBody()?['answer13_with_singular_value']",
                            "Toilets are flushed and clean": "@triggerBody()?['answer7_with_singular_value']",
                            "Upload self image on location of inspection at time of inspection": "@triggerBody()?['answer58']",
                            "Walls and tiles are clean": "@triggerBody()?['answer25_with_singular_value']",
                            "Wash basins are clean": "@triggerBody()?['answer16_with_singular_value']",
                            "You answered No, explain": "-@{triggerBody()?['answer5']}",
                            "You answered No, explain10": "-@{triggerBody()?['answer23']}",
                            "You answered No, explain12": "-@{triggerBody()?['answer26']}",
                            "You answered No, explain14": "-@{triggerBody()?['answer29']}",
                            "You answered No, explain16": "-@{triggerBody()?['answer32']}",
                            "You answered No, explain18": "-@{triggerBody()?['answer35']}",
                            "You answered No, explain2": "-@{triggerBody()?['answer11']}",
                            "You answered No, explain20": "-@{triggerBody()?['answer38']}",
                            "You answered No, explain22": "-@{triggerBody()?['answer41']}",
                            "You answered No, explain24": "-@{triggerBody()?['answer44']}",
                            "You answered No, explain26": "-@{triggerBody()?['answer47']}",
                            "You answered No, explain28": "-@{triggerBody()?['answer50']}",
                            "You answered No, explain29": "-@{triggerBody()?['answer53']}",
                            "You answered No, explain3": "-@{triggerBody()?['answer8']}",
                            "You answered No, explain30": "-@{triggerBody()?['answer56']}",
                            "You answered No, explain4": "-@{triggerBody()?['answer14']}",
                            "You answered No, explain6": "-@{triggerBody()?['answer17']}",
                            "You answered No, explain8": "-@{triggerBody()?['answer20']}"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['excelonlinebusiness']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/codeless/v1.2/drives/@{encodeURIComponent('b!g4E1NDjZPEeFRCZufTiEDLhfpxdwqWJBunzu_J-GK22UsYI9vqFGSazzeAY4Evkz')}/items/@{encodeURIComponent('012DAKHSNSW55CJ3EVYFGYLWHSCB6N5IYF')}/workbook/tables/@{encodeURIComponent('{86BD12A5-1AF5-4BA0-AE04-3E19264A2A27}')}/rows",
                        "queries": {
                            "source": "sites/ramcogroupltd.sharepoint.com,34358183-d938-473c-8544-266e7d38840c,17a75fb8-a970-4162-ba7c-eefc9f862b6d"
                        }
                    }
                }
            },
            "runAfter": {
                "Condition_6": [
                    "Succeeded"
                ]
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@triggerBody()?['answer1_with_singular_value']",
                            "\"Pressmaster"
                        ]
                    }
                ]
            },
            "type": "If"
        },
        "Condition_8": {
            "actions": {
                "Add_a_row_into_a_table_8": {
                    "runAfter": {},
                    "metadata": {
                        "012DAKHSM76VXSHT447ZGKOV65XE4AKXZ4": "/EHS/Checklists/Daily/Staff showers, toilets & change room daily checklist (1).xlsx",
                        "012DAKHSNSCVPA2V4PDBDLGI2UM2LAH2ZV": "/EHS/Checklists/Daily/Staff showers, toilets & change room daily checklist (1).xlsx"
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "Any damage has been reported for repair": "@triggerBody()?['answer37_with_singular_value']",
                            "Bins are not overfull": "@triggerBody()?['answer34_with_singular_value']",
                            "Change room area is clean and dry": "@triggerBody()?['answer49_with_singular_value']",
                            "Date": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                            "Employee name": "@triggerBody()?['answer3']",
                            "Floors are clean, dry and free of litter": "@triggerBody()?['answer22_with_singular_value']",
                            "General toilet area is clean and tidy": "@triggerBody()?['answer4_with_singular_value']",
                            "Location": "@{string(triggerBody()?['answer59']['n'])}",
                            "Mirrors are clean": "@triggerBody()?['answer19_with_singular_value']",
                            "No blockages in the drain": "@triggerBody()?['answer46_with_singular_value']",
                            "No damage to report in the area": "@triggerBody()?['answer52_with_singular_value']",
                            "No personal belongings of staff left behind": "@triggerBody()?['answer55_with_singular_value']",
                            "Photo": "-@{triggerBody()?['answer6']}",
                            "Photo11": "-@{triggerBody()?['answer24']}",
                            "Photo13": "-@{triggerBody()?['answer27']}",
                            "Photo15": "-@{triggerBody()?['answer30']}",
                            "Photo17": "-@{triggerBody()?['answer33']}",
                            "Photo19": "-@{triggerBody()?['answer36']}",
                            "Photo2": "-@{triggerBody()?['answer9']}",
                            "Photo21": "-@{triggerBody()?['answer39']}",
                            "Photo23": "-@{triggerBody()?['answer42']}",
                            "Photo25": "-@{triggerBody()?['answer45']}",
                            "Photo27": "-@{triggerBody()?['answer48']}",
                            "Photo29": "-@{triggerBody()?['answer51']}",
                            "Photo3": "-@{triggerBody()?['answer12']}",
                            "Photo30": "-@{triggerBody()?['answer54']}",
                            "Photo31": "-@{triggerBody()?['answer57']}",
                            "Photo5": "-@{triggerBody()?['answer15']}",
                            "Photo7": "-@{triggerBody()?['answer18']}",
                            "Photo9": "-@{triggerBody()?['answer21']}",
                            "Shower curtain is clean and dry": "@triggerBody()?['answer43_with_singular_value']",
                            "Showers are clean and dry": "@triggerBody()?['answer40_with_singular_value']",
                            "Sufficient soap is available im each dispenser": "@triggerBody()?['answer31_with_singular_value']",
                            "Sufficient toilet paper in each cubicle": "@triggerBody()?['answer28_with_singular_value']",
                            "Toilet seats are not cracked": "@triggerBody()?['answer10_with_singular_value']",
                            "Toilet seats are securely fixed on each toilet": "@triggerBody()?['answer13_with_singular_value']",
                            "Toilets are flushed and clean": "@triggerBody()?['answer7_with_singular_value']",
                            "Upload self image on location of inspection at time of inspection": "@triggerBody()?['answer58']",
                            "Walls and tiles are clean": "@triggerBody()?['answer25_with_singular_value']",
                            "Wash basins are clean": "@triggerBody()?['answer16_with_singular_value']",
                            "You answered No, explain": "-@{triggerBody()?['answer5']}",
                            "You answered No, explain10": "-@{triggerBody()?['answer23']}",
                            "You answered No, explain12": "-@{triggerBody()?['answer26']}",
                            "You answered No, explain14": "-@{triggerBody()?['answer29']}",
                            "You answered No, explain16": "-@{triggerBody()?['answer32']}",
                            "You answered No, explain18": "-@{triggerBody()?['answer35']}",
                            "You answered No, explain2": "-@{triggerBody()?['answer11']}",
                            "You answered No, explain20": "-@{triggerBody()?['answer38']}",
                            "You answered No, explain22": "-@{triggerBody()?['answer41']}",
                            "You answered No, explain24": "-@{triggerBody()?['answer44']}",
                            "You answered No, explain26": "-@{triggerBody()?['answer47']}",
                            "You answered No, explain28": "-@{triggerBody()?['answer50']}",
                            "You answered No, explain29": "-@{triggerBody()?['answer53']}",
                            "You answered No, explain3": "-@{triggerBody()?['answer8']}",
                            "You answered No, explain30": "-@{triggerBody()?['answer56']}",
                            "You answered No, explain4": "-@{triggerBody()?['answer14']}",
                            "You answered No, explain6": "-@{triggerBody()?['answer17']}",
                            "You answered No, explain8": "-@{triggerBody()?['answer20']}"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['excelonlinebusiness']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/codeless/v1.2/drives/@{encodeURIComponent('b!g4E1NDjZPEeFRCZufTiEDLhfpxdwqWJBunzu_J-GK21Zbz70lhgeRrEUj-vRcpoJ')}/items/@{encodeURIComponent('012DAKHSNSCVPA2V4PDBDLGI2UM2LAH2ZV')}/workbook/tables/@{encodeURIComponent('{86BD12A5-1AF5-4BA0-AE04-3E19264A2A27}')}/rows",
                        "queries": {
                            "source": "sites/ramcogroupltd.sharepoint.com,34358183-d938-473c-8544-266e7d38840c,17a75fb8-a970-4162-ba7c-eefc9f862b6d"
                        }
                    }
                }
            },
            "runAfter": {
                "Condition_7": [
                    "Succeeded"
                ]
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@triggerBody()?['answer1_with_singular_value']",
                            "\"RPWL Unit1"
                        ]
                    }
                ]
            },
            "type": "If"
        },
        "Condition_9": {
            "actions": {
                "Add_a_row_into_a_table_9": {
                    "runAfter": {},
                    "metadata": {
                        "012DAKHSM76VXSHT447ZGKOV65XE4AKXZ4": "/EHS/Checklists/Daily/Staff showers, toilets & change room daily checklist (1).xlsx",
                        "012DAKHSNVQFIUWWYBFJCLEMVWWTDUNOM3": "/EHS/Checklists/Daily/Staff showers, toilets & change room daily checklist (1).xlsx"
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "Any damage has been reported for repair": "@triggerBody()?['answer37_with_singular_value']",
                            "Bins are not overfull": "@triggerBody()?['answer34_with_singular_value']",
                            "Change room area is clean and dry": "@triggerBody()?['answer49_with_singular_value']",
                            "Date": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                            "Employee name": "@triggerBody()?['answer3']",
                            "Floors are clean, dry and free of litter": "@triggerBody()?['answer22_with_singular_value']",
                            "General toilet area is clean and tidy": "@triggerBody()?['answer4_with_singular_value']",
                            "Location": "@{string(triggerBody()?['answer59']['n'])}",
                            "Mirrors are clean": "@triggerBody()?['answer19_with_singular_value']",
                            "No blockages in the drain": "@triggerBody()?['answer46_with_singular_value']",
                            "No damage to report in the area": "@triggerBody()?['answer52_with_singular_value']",
                            "No personal belongings of staff left behind": "@triggerBody()?['answer55_with_singular_value']",
                            "Photo": "-@{triggerBody()?['answer6']}",
                            "Photo11": "-@{triggerBody()?['answer24']}",
                            "Photo13": "-@{triggerBody()?['answer27']}",
                            "Photo15": "-@{triggerBody()?['answer30']}",
                            "Photo17": "-@{triggerBody()?['answer33']}",
                            "Photo19": "-@{triggerBody()?['answer36']}",
                            "Photo2": "-@{triggerBody()?['answer9']}",
                            "Photo21": "-@{triggerBody()?['answer39']}",
                            "Photo23": "-@{triggerBody()?['answer42']}",
                            "Photo25": "-@{triggerBody()?['answer45']}",
                            "Photo27": "-@{triggerBody()?['answer48']}",
                            "Photo29": "-@{triggerBody()?['answer51']}",
                            "Photo3": "-@{triggerBody()?['answer12']}",
                            "Photo30": "-@{triggerBody()?['answer54']}",
                            "Photo31": "-@{triggerBody()?['answer57']}",
                            "Photo5": "-@{triggerBody()?['answer15']}",
                            "Photo7": "-@{triggerBody()?['answer18']}",
                            "Photo9": "-@{triggerBody()?['answer21']}",
                            "Shower curtain is clean and dry": "@triggerBody()?['answer43_with_singular_value']",
                            "Showers are clean and dry": "@triggerBody()?['answer40_with_singular_value']",
                            "Sufficient soap is available im each dispenser": "@triggerBody()?['answer31_with_singular_value']",
                            "Sufficient toilet paper in each cubicle": "@triggerBody()?['answer28_with_singular_value']",
                            "Toilet seats are not cracked": "@triggerBody()?['answer10_with_singular_value']",
                            "Toilet seats are securely fixed on each toilet": "@triggerBody()?['answer13_with_singular_value']",
                            "Toilets are flushed and clean": "@triggerBody()?['answer7_with_singular_value']",
                            "Upload self image on location of inspection at time of inspection": "@triggerBody()?['answer58']",
                            "Walls and tiles are clean": "@triggerBody()?['answer25_with_singular_value']",
                            "Wash basins are clean": "@triggerBody()?['answer16_with_singular_value']",
                            "You answered No, explain": "-@{triggerBody()?['answer5']}",
                            "You answered No, explain10": "-@{triggerBody()?['answer23']}",
                            "You answered No, explain12": "-@{triggerBody()?['answer26']}",
                            "You answered No, explain14": "-@{triggerBody()?['answer29']}",
                            "You answered No, explain16": "-@{triggerBody()?['answer32']}",
                            "You answered No, explain18": "-@{triggerBody()?['answer35']}",
                            "You answered No, explain2": "-@{triggerBody()?['answer11']}",
                            "You answered No, explain20": "-@{triggerBody()?['answer38']}",
                            "You answered No, explain22": "-@{triggerBody()?['answer41']}",
                            "You answered No, explain24": "-@{triggerBody()?['answer44']}",
                            "You answered No, explain26": "-@{triggerBody()?['answer47']}",
                            "You answered No, explain28": "-@{triggerBody()?['answer50']}",
                            "You answered No, explain29": "-@{triggerBody()?['answer53']}",
                            "You answered No, explain3": "-@{triggerBody()?['answer8']}",
                            "You answered No, explain30": "-@{triggerBody()?['answer56']}",
                            "You answered No, explain4": "-@{triggerBody()?['answer14']}",
                            "You answered No, explain6": "-@{triggerBody()?['answer17']}",
                            "You answered No, explain8": "-@{triggerBody()?['answer20']}"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['excelonlinebusiness']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/codeless/v1.2/drives/@{encodeURIComponent('b!g4E1NDjZPEeFRCZufTiEDLhfpxdwqWJBunzu_J-GK224_MWHSLrlToHLAKKgheJk')}/items/@{encodeURIComponent('012DAKHSNVQFIUWWYBFJCLEMVWWTDUNOM3')}/workbook/tables/@{encodeURIComponent('{86BD12A5-1AF5-4BA0-AE04-3E19264A2A27}')}/rows",
                        "queries": {
                            "source": "sites/ramcogroupltd.sharepoint.com,34358183-d938-473c-8544-266e7d38840c,17a75fb8-a970-4162-ba7c-eefc9f862b6d"
                        }
                    }
                }
            },
            "runAfter": {
                "Condition_8": [
                    "Succeeded"
                ]
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@triggerBody()?['answer1_with_singular_value']",
                            "\"RPWL Unit2"
                        ]
                    }
                ]
            },
            "type": "If"
        },
        "HTTP": {
            "runAfter": {},
            "type": "Http",
            "inputs": {
                "body": {
                    "answer1": "@triggerBody()?['answer4_with_singular_value']",
                    "answer10": "@triggerBody()?['answer31_with_singular_value']",
                    "answer11": "@triggerBody()?['answer34_with_singular_value']",
                    "answer12": "@triggerBody()?['answer37_with_singular_value']",
                    "answer13": "@triggerBody()?['answer40_with_singular_value']",
                    "answer14": "@triggerBody()?['answer43_with_singular_value']",
                    "answer15": "@triggerBody()?['answer46_with_singular_value']",
                    "answer16": "@triggerBody()?['answer49_with_singular_value']",
                    "answer17": "@triggerBody()?['answer52_with_singular_value']",
                    "answer18": "@triggerBody()?['answer55_with_singular_value']",
                    "answer2": "@triggerBody()?['answer7_with_singular_value']",
                    "answer3": "@triggerBody()?['answer10_with_singular_value']",
                    "answer4": "@triggerBody()?['answer13_with_singular_value']",
                    "answer5": "@triggerBody()?['answer16_with_singular_value']",
                    "answer6": "@triggerBody()?['answer19_with_singular_value']",
                    "answer7": "@triggerBody()?['answer22_with_singular_value']",
                    "answer8": "@triggerBody()?['answer25_with_singular_value']",
                    "answer9": "@triggerBody()?['answer28_with_singular_value']",
                    "date": "@triggerBody()?['answer2']",
                    "describe1": "@triggerBody()?['answer5']",
                    "describe10": "@triggerBody()?['answer32']",
                    "describe11": "@triggerBody()?['answer35']",
                    "describe12": "@triggerBody()?['answer38']",
                    "describe13": "@triggerBody()?['answer41']",
                    "describe14": "@triggerBody()?['answer44']",
                    "describe15": "@triggerBody()?['answer47']",
                    "describe16": "@triggerBody()?['answer50']",
                    "describe17": "@triggerBody()?['answer53']",
                    "describe18": "@triggerBody()?['answer56']",
                    "describe2": "@triggerBody()?['answer8']",
                    "describe3": "@triggerBody()?['answer11']",
                    "describe4": "@triggerBody()?['answer14']",
                    "describe5": "@triggerBody()?['answer17']",
                    "describe6": "@triggerBody()?['answer20']",
                    "describe7": "@triggerBody()?['answer23']",
                    "describe8": "@triggerBody()?['answer26']",
                    "describe9": "@triggerBody()?['answer29']",
                    "employee": "@triggerBody()?['answer3']",
                    "location": "@triggerBody()?['answer59']",
                    "photo1": "@triggerBody()?['answer6']",
                    "photo10": "@triggerBody()?['answer33']",
                    "photo11": "@triggerBody()?['answer36']",
                    "photo12": "@triggerBody()?['answer39']",
                    "photo13": "@triggerBody()?['answer42']",
                    "photo14": "@triggerBody()?['answer45']",
                    "photo15": "@triggerBody()?['answer48']",
                    "photo16": "@triggerBody()?['answer51']",
                    "photo17": "@triggerBody()?['answer54']",
                    "photo18": "@triggerBody()?['answer57']",
                    "photo2": "@triggerBody()?['answer9']",
                    "photo3": "@triggerBody()?['answer12']",
                    "photo4": "@triggerBody()?['answer15']",
                    "photo5": "@triggerBody()?['answer18']",
                    "photo6": "@triggerBody()?['answer21']",
                    "photo7": "@triggerBody()?['answer24']",
                    "photo8": "@triggerBody()?['answer27']",
                    "photo9": "@triggerBody()?['answer30']",
                    "selfie": "@triggerBody()?['answer58']"
                },
                "headers": {
                    "Content-type": "application/json"
                },
                "method": "POST",
                "uri": "http://ict-a.co.ke/kaizalaEndpoints/allChecklists/EHS/Daily/staffShowers/staffShowers.php"
            }
        }
    },
    "outputs": {}
}