weeklyFirstAid.logicapp.json
{
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "$connections": {
            "defaultValue": {},
            "type": "Object"
        }
    },
    "triggers": {
        "When_someone_responds_to_a_custom_action": {
            "type": "ApiConnectionWebhook",
            "inputs": {
                "body": {
                    "CallbackUrl": "@{listCallbackUrl()}"
                },
                "host": {
                    "connection": {
                        "name": "@parameters('$connections')['kaizala']['connectionId']"
                    }
                },
                "path": "/v1/webhook",
                "queries": {
                    "actionPackageId": "e1120170-668c-40d2-ba59-0f5a3798b4cc.5",
                    "groupId": "b159c833-e416-490f-ab9d-8eb3e5adc999@2",
                    "objectId": "00000000-0000-0000-0000-000000000000"
                }
            }
        }
    },
    "actions": {
        "Condition": {
            "actions": {
                "Add_a_row_into_a_table": {
                    "runAfter": {},
                    "metadata": {
                        "012DAKHSMYRQHSTRAUKRAJV5PACJXJQXC7": "/EHS/Checklists/Weekly/First Aid Box (1).xlsx"
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "1 non-allergic adhesive strip (25mm*3m)": "@triggerBody()?['answer24_with_singular_value']",
                            "1 packet adhesive dressing strips (minimum quantiy = 10 assorted sizes)": "@triggerBody()?['answer26_with_singular_value']",
                            "1 pair forceps (for splinters)": "@triggerBody()?['answer12_with_singular_value']",
                            "1 pair scissors (100mm)": "@triggerBody()?['answer14_with_singular_value']",
                            "1 roll elastic adhesive (25mm*3m)": "@triggerBody()?['answer22_with_singular_value']",
                            "1 set of safety pins": "@triggerBody()?['answer16_with_singular_value']",
                            "2 CPR mouthpieces or similar devices": "@triggerBody()?['answer36_with_singular_value']",
                            "2 pairs large & 2 pairs medium disposable latex gloves": "@triggerBody()?['answer34_with_singular_value']",
                            "2 straight splints": "@triggerBody()?['answer32_with_singular_value']",
                            "4 first aid dressing (75mm*100mm)": "@triggerBody()?['answer28_with_singular_value']",
                            "4 first aid dressings (150 * 200mm)": "@triggerBody()?['answer30_with_singular_value']",
                            "4 roller bandages (100mm*5m)": "@triggerBody()?['answer20_with_singular_value']",
                            "4 triangular bandages (75mm*5m)": "@triggerBody()?['answer18_with_singular_value']",
                            "Cotton wool for padding (100g)": "@triggerBody()?['answer8_with_singular_value']",
                            "Date": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                            "Name of first aider": "@triggerBody()?['answer2']",
                            "Quantity to replace": "-@{triggerBody()?['answer5']}",
                            "Quantity to replace10": "-@{triggerBody()?['answer27']}",
                            "Quantity to replace11": "-@{triggerBody()?['answer29']}",
                            "Quantity to replace12": "-@{triggerBody()?['answer31']}",
                            "Quantity to replace13": "-@{triggerBody()?['answer33']}",
                            "Quantity to replace14": "-@{triggerBody()?['answer35']}",
                            "Quantity to replace15": "-@{triggerBody()?['answer37']}",
                            "Quantity to replace16": "-@{triggerBody()?['answer25']}",
                            "Quantity to replace2": "-@{triggerBody()?['answer7']}",
                            "Quantity to replace3": "-@{triggerBody()?['answer9']}",
                            "Quantity to replace33": "-@{triggerBody()?['answer11']}",
                            "Quantity to replace4": "-@{triggerBody()?['answer13']}",
                            "Quantity to replace5": "-@{triggerBody()?['answer15']}",
                            "Quantity to replace6": "-@{triggerBody()?['answer17']}",
                            "Quantity to replace7": "-@{triggerBody()?['answer19']}",
                            "Quantity to replace8": "-@{triggerBody()?['answer21']}",
                            "Quantity to replace9": "-@{triggerBody()?['answer23']}",
                            "Sterile gauze (minimum quantity = 10)": "@triggerBody()?['answer10_with_singular_value']",
                            "Swabs for cleaning wounds": "@triggerBody()?['answer6_with_singular_value']",
                            "Wound cleaner/ Antiseptic (100ml)": "@triggerBody()?['answer4_with_singular_value']"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['excelonlinebusiness_2']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/codeless/v1.2/drives/@{encodeURIComponent('b!g4E1NDjZPEeFRCZufTiEDLhfpxdwqWJBunzu_J-GK21TtwYvHnw8R4gmHuIdviQP')}/items/@{encodeURIComponent('012DAKHSMYRQHSTRAUKRAJV5PACJXJQXC7')}/workbook/tables/@{encodeURIComponent('{D0563C8A-2E44-41CB-AAF5-10B7D92014BF}')}/rows",
                        "queries": {
                            "source": "sites/ramcogroupltd.sharepoint.com,34358183-d938-473c-8544-266e7d38840c,17a75fb8-a970-4162-ba7c-eefc9f862b6d"
                        }
                    }
                }
            },
            "runAfter": {},
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@triggerBody()?['answer1_with_singular_value']",
                            "\"ASL Pack"
                        ]
                    }
                ]
            },
            "type": "If"
        },
        "Condition_10": {
            "actions": {
                "Add_a_row_into_a_table_10": {
                    "runAfter": {},
                    "metadata": {
                        "012DAKHSOSD4O6LTTB75HKZ3EK7ROO2DDS": "/EHS/Checklists/Weekly/First Aid Box (1).xlsx"
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "1 non-allergic adhesive strip (25mm*3m)": "@triggerBody()?['answer24_with_singular_value']",
                            "1 packet adhesive dressing strips (minimum quantiy = 10 assorted sizes)": "@triggerBody()?['answer26_with_singular_value']",
                            "1 pair forceps (for splinters)": "@triggerBody()?['answer12_with_singular_value']",
                            "1 pair scissors (100mm)": "@triggerBody()?['answer14_with_singular_value']",
                            "1 roll elastic adhesive (25mm*3m)": "@triggerBody()?['answer22_with_singular_value']",
                            "1 set of safety pins": "@triggerBody()?['answer16_with_singular_value']",
                            "2 CPR mouthpieces or similar devices": "@triggerBody()?['answer36_with_singular_value']",
                            "2 pairs large & 2 pairs medium disposable latex gloves": "@triggerBody()?['answer34_with_singular_value']",
                            "2 straight splints": "@triggerBody()?['answer32_with_singular_value']",
                            "4 first aid dressing (75mm*100mm)": "@triggerBody()?['answer28_with_singular_value']",
                            "4 first aid dressings (150 * 200mm)": "@triggerBody()?['answer30_with_singular_value']",
                            "4 roller bandages (100mm*5m)": "@triggerBody()?['answer20_with_singular_value']",
                            "4 triangular bandages (75mm*5m)": "@triggerBody()?['answer18_with_singular_value']",
                            "Cotton wool for padding (100g)": "@triggerBody()?['answer8_with_singular_value']",
                            "Date": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                            "Name of first aider": "@triggerBody()?['answer2']",
                            "Quantity to replace": "-@{triggerBody()?['answer5']}",
                            "Quantity to replace10": "-@{triggerBody()?['answer27']}",
                            "Quantity to replace11": "-@{triggerBody()?['answer29']}",
                            "Quantity to replace12": "-@{triggerBody()?['answer31']}",
                            "Quantity to replace13": "-@{triggerBody()?['answer33']}",
                            "Quantity to replace14": "-@{triggerBody()?['answer35']}",
                            "Quantity to replace15": "-@{triggerBody()?['answer37']}",
                            "Quantity to replace16": "-@{triggerBody()?['answer25']}",
                            "Quantity to replace2": "-@{triggerBody()?['answer7']}",
                            "Quantity to replace3": "-@{triggerBody()?['answer9']}",
                            "Quantity to replace33": "-@{triggerBody()?['answer11']}",
                            "Quantity to replace4": "-@{triggerBody()?['answer13']}",
                            "Quantity to replace5": "-@{triggerBody()?['answer15']}",
                            "Quantity to replace6": "-@{triggerBody()?['answer17']}",
                            "Quantity to replace7": "-@{triggerBody()?['answer19']}",
                            "Quantity to replace8": "-@{triggerBody()?['answer21']}",
                            "Quantity to replace9": "-@{triggerBody()?['answer23']}",
                            "Sterile gauze (minimum quantity = 10)": "@triggerBody()?['answer10_with_singular_value']",
                            "Swabs for cleaning wounds": "@triggerBody()?['answer6_with_singular_value']",
                            "Wound cleaner/ Antiseptic (100ml)": "@triggerBody()?['answer4_with_singular_value']"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['excelonlinebusiness_2']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/codeless/v1.2/drives/@{encodeURIComponent('b!g4E1NDjZPEeFRCZufTiEDLhfpxdwqWJBunzu_J-GK23CcVP99gEfQ4EjLalW8EVd')}/items/@{encodeURIComponent('012DAKHSOSD4O6LTTB75HKZ3EK7ROO2DDS')}/workbook/tables/@{encodeURIComponent('{D0563C8A-2E44-41CB-AAF5-10B7D92014BF}')}/rows",
                        "queries": {
                            "source": "sites/ramcogroupltd.sharepoint.com,34358183-d938-473c-8544-266e7d38840c,17a75fb8-a970-4162-ba7c-eefc9f862b6d"
                        }
                    }
                }
            },
            "runAfter": {
                "Condition_9": [
                    "Succeeded"
                ]
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@triggerBody()?['answer1_with_singular_value']",
                            "Sintel"
                        ]
                    }
                ]
            },
            "type": "If"
        },
        "Condition_11": {
            "actions": {
                "Add_a_row_into_a_table_11": {
                    "runAfter": {},
                    "metadata": {
                        "012DAKHSLAVJ7BH7X2CZGLCU7SKWSTGIXA": "/EHS/Checklists/Weekly/First Aid Box (1).xlsx"
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "1 non-allergic adhesive strip (25mm*3m)": "@triggerBody()?['answer24_with_singular_value']",
                            "1 packet adhesive dressing strips (minimum quantiy = 10 assorted sizes)": "@triggerBody()?['answer26_with_singular_value']",
                            "1 pair forceps (for splinters)": "@triggerBody()?['answer12_with_singular_value']",
                            "1 pair scissors (100mm)": "@triggerBody()?['answer14_with_singular_value']",
                            "1 roll elastic adhesive (25mm*3m)": "@triggerBody()?['answer22_with_singular_value']",
                            "1 set of safety pins": "@triggerBody()?['answer16_with_singular_value']",
                            "2 CPR mouthpieces or similar devices": "@triggerBody()?['answer36_with_singular_value']",
                            "2 pairs large & 2 pairs medium disposable latex gloves": "@triggerBody()?['answer34_with_singular_value']",
                            "2 straight splints": "@triggerBody()?['answer32_with_singular_value']",
                            "4 first aid dressing (75mm*100mm)": "@triggerBody()?['answer28_with_singular_value']",
                            "4 first aid dressings (150 * 200mm)": "@triggerBody()?['answer30_with_singular_value']",
                            "4 roller bandages (100mm*5m)": "@triggerBody()?['answer20_with_singular_value']",
                            "4 triangular bandages (75mm*5m)": "@triggerBody()?['answer18_with_singular_value']",
                            "Cotton wool for padding (100g)": "@triggerBody()?['answer8_with_singular_value']",
                            "Date": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                            "Name of first aider": "@triggerBody()?['answer2']",
                            "Quantity to replace": "-@{triggerBody()?['answer5']}",
                            "Quantity to replace10": "-@{triggerBody()?['answer27']}",
                            "Quantity to replace11": "-@{triggerBody()?['answer29']}",
                            "Quantity to replace12": "-@{triggerBody()?['answer31']}",
                            "Quantity to replace13": "-@{triggerBody()?['answer33']}",
                            "Quantity to replace14": "-@{triggerBody()?['answer35']}",
                            "Quantity to replace15": "-@{triggerBody()?['answer37']}",
                            "Quantity to replace16": "-@{triggerBody()?['answer25']}",
                            "Quantity to replace2": "-@{triggerBody()?['answer7']}",
                            "Quantity to replace3": "-@{triggerBody()?['answer9']}",
                            "Quantity to replace33": "-@{triggerBody()?['answer11']}",
                            "Quantity to replace4": "-@{triggerBody()?['answer13']}",
                            "Quantity to replace5": "-@{triggerBody()?['answer15']}",
                            "Quantity to replace6": "-@{triggerBody()?['answer17']}",
                            "Quantity to replace7": "-@{triggerBody()?['answer19']}",
                            "Quantity to replace8": "-@{triggerBody()?['answer21']}",
                            "Quantity to replace9": "-@{triggerBody()?['answer23']}",
                            "Sterile gauze (minimum quantity = 10)": "@triggerBody()?['answer10_with_singular_value']",
                            "Swabs for cleaning wounds": "@triggerBody()?['answer6_with_singular_value']",
                            "Wound cleaner/ Antiseptic (100ml)": "@triggerBody()?['answer4_with_singular_value']"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['excelonlinebusiness_2']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/codeless/v1.2/drives/@{encodeURIComponent('b!g4E1NDjZPEeFRCZufTiEDLhfpxdwqWJBunzu_J-GK23SOjeg2ex3SKPV30tAC8Sq')}/items/@{encodeURIComponent('012DAKHSLAVJ7BH7X2CZGLCU7SKWSTGIXA')}/workbook/tables/@{encodeURIComponent('{D0563C8A-2E44-41CB-AAF5-10B7D92014BF}')}/rows",
                        "queries": {
                            "source": "sites/ramcogroupltd.sharepoint.com,34358183-d938-473c-8544-266e7d38840c,17a75fb8-a970-4162-ba7c-eefc9f862b6d"
                        }
                    }
                }
            },
            "runAfter": {
                "Condition_10": [
                    "Succeeded"
                ]
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@triggerBody()?['answer1_with_singular_value']",
                            "TPSL"
                        ]
                    }
                ]
            },
            "type": "If"
        },
        "Condition_12": {
            "actions": {
                "Add_a_row_into_a_table_12": {
                    "runAfter": {},
                    "metadata": {
                        "012DAKHSNUFHCAKT7CRND2Z6H6MJPDFEFR": "/EHS/Checklists/Weekly/First Aid Box (1).xlsx"
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "1 non-allergic adhesive strip (25mm*3m)": "@triggerBody()?['answer24_with_singular_value']",
                            "1 packet adhesive dressing strips (minimum quantiy = 10 assorted sizes)": "@triggerBody()?['answer26_with_singular_value']",
                            "1 pair forceps (for splinters)": "@triggerBody()?['answer12_with_singular_value']",
                            "1 pair scissors (100mm)": "@triggerBody()?['answer14_with_singular_value']",
                            "1 roll elastic adhesive (25mm*3m)": "@triggerBody()?['answer22_with_singular_value']",
                            "1 set of safety pins": "@triggerBody()?['answer16_with_singular_value']",
                            "2 CPR mouthpieces or similar devices": "@triggerBody()?['answer36_with_singular_value']",
                            "2 pairs large & 2 pairs medium disposable latex gloves": "@triggerBody()?['answer34_with_singular_value']",
                            "2 straight splints": "@triggerBody()?['answer32_with_singular_value']",
                            "4 first aid dressing (75mm*100mm)": "@triggerBody()?['answer28_with_singular_value']",
                            "4 first aid dressings (150 * 200mm)": "@triggerBody()?['answer30_with_singular_value']",
                            "4 roller bandages (100mm*5m)": "@triggerBody()?['answer20_with_singular_value']",
                            "4 triangular bandages (75mm*5m)": "@triggerBody()?['answer18_with_singular_value']",
                            "Cotton wool for padding (100g)": "@triggerBody()?['answer8_with_singular_value']",
                            "Date": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                            "Name of first aider": "@triggerBody()?['answer2']",
                            "Quantity to replace": "-@{triggerBody()?['answer5']}",
                            "Quantity to replace10": "-@{triggerBody()?['answer27']}",
                            "Quantity to replace11": "-@{triggerBody()?['answer29']}",
                            "Quantity to replace12": "-@{triggerBody()?['answer31']}",
                            "Quantity to replace13": "-@{triggerBody()?['answer33']}",
                            "Quantity to replace14": "-@{triggerBody()?['answer35']}",
                            "Quantity to replace15": "-@{triggerBody()?['answer37']}",
                            "Quantity to replace16": "-@{triggerBody()?['answer25']}",
                            "Quantity to replace2": "-@{triggerBody()?['answer7']}",
                            "Quantity to replace3": "-@{triggerBody()?['answer9']}",
                            "Quantity to replace33": "-@{triggerBody()?['answer11']}",
                            "Quantity to replace4": "-@{triggerBody()?['answer13']}",
                            "Quantity to replace5": "-@{triggerBody()?['answer15']}",
                            "Quantity to replace6": "-@{triggerBody()?['answer17']}",
                            "Quantity to replace7": "-@{triggerBody()?['answer19']}",
                            "Quantity to replace8": "-@{triggerBody()?['answer21']}",
                            "Quantity to replace9": "-@{triggerBody()?['answer23']}",
                            "Sterile gauze (minimum quantity = 10)": "@triggerBody()?['answer10_with_singular_value']",
                            "Swabs for cleaning wounds": "@triggerBody()?['answer6_with_singular_value']",
                            "Wound cleaner/ Antiseptic (100ml)": "@triggerBody()?['answer4_with_singular_value']"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['excelonlinebusiness_2']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/codeless/v1.2/drives/@{encodeURIComponent('b!g4E1NDjZPEeFRCZufTiEDLhfpxdwqWJBunzu_J-GK21OE4Lc5Sx1SZwFdBOFz34o')}/items/@{encodeURIComponent('012DAKHSNUFHCAKT7CRND2Z6H6MJPDFEFR')}/workbook/tables/@{encodeURIComponent('{D0563C8A-2E44-41CB-AAF5-10B7D92014BF}')}/rows",
                        "queries": {
                            "source": "sites/ramcogroupltd.sharepoint.com,34358183-d938-473c-8544-266e7d38840c,17a75fb8-a970-4162-ba7c-eefc9f862b6d"
                        }
                    }
                }
            },
            "runAfter": {
                "Condition_11": [
                    "Succeeded"
                ]
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@triggerBody()?['answer1_with_singular_value']",
                            "Wild Elegance"
                        ]
                    }
                ]
            },
            "type": "If"
        },
        "Condition_2": {
            "actions": {
                "Add_a_row_into_a_table_2": {
                    "runAfter": {},
                    "metadata": {
                        "012DAKHSMFOPZTTVTBRNCKRTZWR6XQCVLT": "/EHS/Checklists/Weekly/First Aid Box (1).xlsx"
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "1 non-allergic adhesive strip (25mm*3m)": "@triggerBody()?['answer24_with_singular_value']",
                            "1 packet adhesive dressing strips (minimum quantiy = 10 assorted sizes)": "@triggerBody()?['answer26_with_singular_value']",
                            "1 pair forceps (for splinters)": "@triggerBody()?['answer12_with_singular_value']",
                            "1 pair scissors (100mm)": "@triggerBody()?['answer14_with_singular_value']",
                            "1 roll elastic adhesive (25mm*3m)": "@triggerBody()?['answer22_with_singular_value']",
                            "1 set of safety pins": "@triggerBody()?['answer16_with_singular_value']",
                            "2 CPR mouthpieces or similar devices": "@triggerBody()?['answer36_with_singular_value']",
                            "2 pairs large & 2 pairs medium disposable latex gloves": "@triggerBody()?['answer34_with_singular_value']",
                            "2 straight splints": "@triggerBody()?['answer32_with_singular_value']",
                            "4 first aid dressing (75mm*100mm)": "@triggerBody()?['answer28_with_singular_value']",
                            "4 first aid dressings (150 * 200mm)": "@triggerBody()?['answer30_with_singular_value']",
                            "4 roller bandages (100mm*5m)": "@triggerBody()?['answer20_with_singular_value']",
                            "4 triangular bandages (75mm*5m)": "@triggerBody()?['answer18_with_singular_value']",
                            "Cotton wool for padding (100g)": "@triggerBody()?['answer8_with_singular_value']",
                            "Date": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                            "Name of first aider": "@triggerBody()?['answer2']",
                            "Quantity to replace": "-@{triggerBody()?['answer5']}",
                            "Quantity to replace10": "-@{triggerBody()?['answer27']}",
                            "Quantity to replace11": "-@{triggerBody()?['answer29']}",
                            "Quantity to replace12": "-@{triggerBody()?['answer31']}",
                            "Quantity to replace13": "-@{triggerBody()?['answer33']}",
                            "Quantity to replace14": "-@{triggerBody()?['answer35']}",
                            "Quantity to replace15": "-@{triggerBody()?['answer37']}",
                            "Quantity to replace16": "-@{triggerBody()?['answer25']}",
                            "Quantity to replace2": "-@{triggerBody()?['answer7']}",
                            "Quantity to replace3": "-@{triggerBody()?['answer9']}",
                            "Quantity to replace33": "-@{triggerBody()?['answer11']}",
                            "Quantity to replace4": "-@{triggerBody()?['answer13']}",
                            "Quantity to replace5": "-@{triggerBody()?['answer15']}",
                            "Quantity to replace6": "-@{triggerBody()?['answer17']}",
                            "Quantity to replace7": "-@{triggerBody()?['answer19']}",
                            "Quantity to replace8": "-@{triggerBody()?['answer21']}",
                            "Quantity to replace9": "-@{triggerBody()?['answer23']}",
                            "Sterile gauze (minimum quantity = 10)": "@triggerBody()?['answer10_with_singular_value']",
                            "Swabs for cleaning wounds": "@triggerBody()?['answer6_with_singular_value']",
                            "Wound cleaner/ Antiseptic (100ml)": "@triggerBody()?['answer4_with_singular_value']"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['excelonlinebusiness_2']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/codeless/v1.2/drives/@{encodeURIComponent('b!g4E1NDjZPEeFRCZufTiEDLhfpxdwqWJBunzu_J-GK20_IPQJOQqtRrh4P5a0Fiel')}/items/@{encodeURIComponent('012DAKHSMFOPZTTVTBRNCKRTZWR6XQCVLT')}/workbook/tables/@{encodeURIComponent('{D0563C8A-2E44-41CB-AAF5-10B7D92014BF}')}/rows",
                        "queries": {
                            "source": "sites/ramcogroupltd.sharepoint.com,34358183-d938-473c-8544-266e7d38840c,17a75fb8-a970-4162-ba7c-eefc9f862b6d"
                        }
                    }
                }
            },
            "runAfter": {
                "Condition": [
                    "Succeeded"
                ]
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@triggerBody()?['answer1_with_singular_value']",
                            "\"Flexowork"
                        ]
                    }
                ]
            },
            "type": "If"
        },
        "Condition_3": {
            "actions": {
                "Add_a_row_into_a_table_3": {
                    "runAfter": {},
                    "metadata": {
                        "012DAKHSL2LLFK3WLTQRDZ7C66ASH46QSI": "/EHS/Checklists/Weekly/First Aid Box (1).xlsx"
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "1 non-allergic adhesive strip (25mm*3m)": "@triggerBody()?['answer24_with_singular_value']",
                            "1 packet adhesive dressing strips (minimum quantiy = 10 assorted sizes)": "@triggerBody()?['answer26_with_singular_value']",
                            "1 pair forceps (for splinters)": "@triggerBody()?['answer12_with_singular_value']",
                            "1 pair scissors (100mm)": "@triggerBody()?['answer14_with_singular_value']",
                            "1 roll elastic adhesive (25mm*3m)": "@triggerBody()?['answer22_with_singular_value']",
                            "1 set of safety pins": "@triggerBody()?['answer16_with_singular_value']",
                            "2 CPR mouthpieces or similar devices": "@triggerBody()?['answer36_with_singular_value']",
                            "2 pairs large & 2 pairs medium disposable latex gloves": "@triggerBody()?['answer34_with_singular_value']",
                            "2 straight splints": "@triggerBody()?['answer32_with_singular_value']",
                            "4 first aid dressing (75mm*100mm)": "@triggerBody()?['answer28_with_singular_value']",
                            "4 first aid dressings (150 * 200mm)": "@triggerBody()?['answer30_with_singular_value']",
                            "4 roller bandages (100mm*5m)": "@triggerBody()?['answer20_with_singular_value']",
                            "4 triangular bandages (75mm*5m)": "@triggerBody()?['answer18_with_singular_value']",
                            "Cotton wool for padding (100g)": "@triggerBody()?['answer8_with_singular_value']",
                            "Date": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                            "Name of first aider": "@triggerBody()?['answer2']",
                            "Quantity to replace": "-@{triggerBody()?['answer5']}",
                            "Quantity to replace10": "-@{triggerBody()?['answer27']}",
                            "Quantity to replace11": "-@{triggerBody()?['answer29']}",
                            "Quantity to replace12": "-@{triggerBody()?['answer31']}",
                            "Quantity to replace13": "-@{triggerBody()?['answer33']}",
                            "Quantity to replace14": "-@{triggerBody()?['answer35']}",
                            "Quantity to replace15": "-@{triggerBody()?['answer37']}",
                            "Quantity to replace16": "-@{triggerBody()?['answer25']}",
                            "Quantity to replace2": "-@{triggerBody()?['answer7']}",
                            "Quantity to replace3": "-@{triggerBody()?['answer9']}",
                            "Quantity to replace33": "-@{triggerBody()?['answer11']}",
                            "Quantity to replace4": "-@{triggerBody()?['answer13']}",
                            "Quantity to replace5": "-@{triggerBody()?['answer15']}",
                            "Quantity to replace6": "-@{triggerBody()?['answer17']}",
                            "Quantity to replace7": "-@{triggerBody()?['answer19']}",
                            "Quantity to replace8": "-@{triggerBody()?['answer21']}",
                            "Quantity to replace9": "-@{triggerBody()?['answer23']}",
                            "Sterile gauze (minimum quantity = 10)": "@triggerBody()?['answer10_with_singular_value']",
                            "Swabs for cleaning wounds": "@triggerBody()?['answer6_with_singular_value']",
                            "Wound cleaner/ Antiseptic (100ml)": "@triggerBody()?['answer4_with_singular_value']"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['excelonlinebusiness_2']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/codeless/v1.2/drives/@{encodeURIComponent('b!g4E1NDjZPEeFRCZufTiEDLhfpxdwqWJBunzu_J-GK20Ih8Qra-VNQ5WlPcEmbDcI')}/items/@{encodeURIComponent('012DAKHSL2LLFK3WLTQRDZ7C66ASH46QSI')}/workbook/tables/@{encodeURIComponent('{D0563C8A-2E44-41CB-AAF5-10B7D92014BF}')}/rows",
                        "queries": {
                            "source": "sites/ramcogroupltd.sharepoint.com,34358183-d938-473c-8544-266e7d38840c,17a75fb8-a970-4162-ba7c-eefc9f862b6d"
                        }
                    }
                }
            },
            "runAfter": {
                "Condition_2": [
                    "Succeeded"
                ]
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@triggerBody()?['answer1_with_singular_value']",
                            "MarketPower\""
                        ]
                    }
                ]
            },
            "type": "If"
        },
        "Condition_4": {
            "actions": {
                "Add_a_row_into_a_table_4": {
                    "runAfter": {},
                    "metadata": {
                        "012DAKHSNEMZ2VW6L7ERAILGVLSVRNKOWE": "/EHS/Checklists/Weekly/First Aid Box (1).xlsx"
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "1 non-allergic adhesive strip (25mm*3m)": "@triggerBody()?['answer24_with_singular_value']",
                            "1 packet adhesive dressing strips (minimum quantiy = 10 assorted sizes)": "@triggerBody()?['answer26_with_singular_value']",
                            "1 pair forceps (for splinters)": "@triggerBody()?['answer12_with_singular_value']",
                            "1 pair scissors (100mm)": "@triggerBody()?['answer14_with_singular_value']",
                            "1 roll elastic adhesive (25mm*3m)": "@triggerBody()?['answer22_with_singular_value']",
                            "1 set of safety pins": "@triggerBody()?['answer16_with_singular_value']",
                            "2 CPR mouthpieces or similar devices": "@triggerBody()?['answer36_with_singular_value']",
                            "2 pairs large & 2 pairs medium disposable latex gloves": "@triggerBody()?['answer34_with_singular_value']",
                            "2 straight splints": "@triggerBody()?['answer32_with_singular_value']",
                            "4 first aid dressing (75mm*100mm)": "@triggerBody()?['answer28_with_singular_value']",
                            "4 first aid dressings (150 * 200mm)": "@triggerBody()?['answer30_with_singular_value']",
                            "4 roller bandages (100mm*5m)": "@triggerBody()?['answer20_with_singular_value']",
                            "4 triangular bandages (75mm*5m)": "@triggerBody()?['answer18_with_singular_value']",
                            "Cotton wool for padding (100g)": "@triggerBody()?['answer8_with_singular_value']",
                            "Date": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                            "Name of first aider": "@triggerBody()?['answer2']",
                            "Quantity to replace": "-@{triggerBody()?['answer5']}",
                            "Quantity to replace10": "-@{triggerBody()?['answer27']}",
                            "Quantity to replace11": "-@{triggerBody()?['answer29']}",
                            "Quantity to replace12": "-@{triggerBody()?['answer31']}",
                            "Quantity to replace13": "-@{triggerBody()?['answer33']}",
                            "Quantity to replace14": "-@{triggerBody()?['answer35']}",
                            "Quantity to replace15": "-@{triggerBody()?['answer37']}",
                            "Quantity to replace16": "-@{triggerBody()?['answer25']}",
                            "Quantity to replace2": "-@{triggerBody()?['answer7']}",
                            "Quantity to replace3": "-@{triggerBody()?['answer9']}",
                            "Quantity to replace33": "-@{triggerBody()?['answer11']}",
                            "Quantity to replace4": "-@{triggerBody()?['answer13']}",
                            "Quantity to replace5": "-@{triggerBody()?['answer15']}",
                            "Quantity to replace6": "-@{triggerBody()?['answer17']}",
                            "Quantity to replace7": "-@{triggerBody()?['answer19']}",
                            "Quantity to replace8": "-@{triggerBody()?['answer21']}",
                            "Quantity to replace9": "-@{triggerBody()?['answer23']}",
                            "Sterile gauze (minimum quantity = 10)": "@triggerBody()?['answer10_with_singular_value']",
                            "Swabs for cleaning wounds": "@triggerBody()?['answer6_with_singular_value']",
                            "Wound cleaner/ Antiseptic (100ml)": "@triggerBody()?['answer4_with_singular_value']"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['excelonlinebusiness_2']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/codeless/v1.2/drives/@{encodeURIComponent('b!g4E1NDjZPEeFRCZufTiEDLhfpxdwqWJBunzu_J-GK22X5-_jdHAvQLoyxRsU7UeG')}/items/@{encodeURIComponent('012DAKHSNEMZ2VW6L7ERAILGVLSVRNKOWE')}/workbook/tables/@{encodeURIComponent('{D0563C8A-2E44-41CB-AAF5-10B7D92014BF}')}/rows",
                        "queries": {
                            "source": "sites/ramcogroupltd.sharepoint.com,34358183-d938-473c-8544-266e7d38840c,17a75fb8-a970-4162-ba7c-eefc9f862b6d"
                        }
                    }
                }
            },
            "runAfter": {
                "Condition_3": [
                    "Succeeded"
                ]
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@triggerBody()?['answer1_with_singular_value']",
                            "Panthera"
                        ]
                    }
                ]
            },
            "type": "If"
        },
        "Condition_5": {
            "actions": {
                "Add_a_row_into_a_table_5": {
                    "runAfter": {},
                    "metadata": {
                        "012DAKHSNBXXNOB7RB7VGLC7KEWOTMWX42": "/EHS/Checklists/Weekly/First Aid Box (1).xlsx"
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "1 non-allergic adhesive strip (25mm*3m)": "@triggerBody()?['answer24_with_singular_value']",
                            "1 packet adhesive dressing strips (minimum quantiy = 10 assorted sizes)": "@triggerBody()?['answer26_with_singular_value']",
                            "1 pair forceps (for splinters)": "@triggerBody()?['answer12_with_singular_value']",
                            "1 pair scissors (100mm)": "@triggerBody()?['answer14_with_singular_value']",
                            "1 roll elastic adhesive (25mm*3m)": "@triggerBody()?['answer22_with_singular_value']",
                            "1 set of safety pins": "@triggerBody()?['answer16_with_singular_value']",
                            "2 CPR mouthpieces or similar devices": "@triggerBody()?['answer36_with_singular_value']",
                            "2 pairs large & 2 pairs medium disposable latex gloves": "@triggerBody()?['answer34_with_singular_value']",
                            "2 straight splints": "@triggerBody()?['answer32_with_singular_value']",
                            "4 first aid dressing (75mm*100mm)": "@triggerBody()?['answer28_with_singular_value']",
                            "4 first aid dressings (150 * 200mm)": "@triggerBody()?['answer30_with_singular_value']",
                            "4 roller bandages (100mm*5m)": "@triggerBody()?['answer20_with_singular_value']",
                            "4 triangular bandages (75mm*5m)": "@triggerBody()?['answer18_with_singular_value']",
                            "Cotton wool for padding (100g)": "@triggerBody()?['answer8_with_singular_value']",
                            "Date": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                            "Name of first aider": "@triggerBody()?['answer2']",
                            "Quantity to replace": "-@{triggerBody()?['answer5']}",
                            "Quantity to replace10": "-@{triggerBody()?['answer27']}",
                            "Quantity to replace11": "-@{triggerBody()?['answer29']}",
                            "Quantity to replace12": "-@{triggerBody()?['answer31']}",
                            "Quantity to replace13": "-@{triggerBody()?['answer33']}",
                            "Quantity to replace14": "-@{triggerBody()?['answer35']}",
                            "Quantity to replace15": "-@{triggerBody()?['answer37']}",
                            "Quantity to replace16": "-@{triggerBody()?['answer25']}",
                            "Quantity to replace2": "-@{triggerBody()?['answer7']}",
                            "Quantity to replace3": "-@{triggerBody()?['answer9']}",
                            "Quantity to replace33": "-@{triggerBody()?['answer11']}",
                            "Quantity to replace4": "-@{triggerBody()?['answer13']}",
                            "Quantity to replace5": "-@{triggerBody()?['answer15']}",
                            "Quantity to replace6": "-@{triggerBody()?['answer17']}",
                            "Quantity to replace7": "-@{triggerBody()?['answer19']}",
                            "Quantity to replace8": "-@{triggerBody()?['answer21']}",
                            "Quantity to replace9": "-@{triggerBody()?['answer23']}",
                            "Sterile gauze (minimum quantity = 10)": "@triggerBody()?['answer10_with_singular_value']",
                            "Swabs for cleaning wounds": "@triggerBody()?['answer6_with_singular_value']",
                            "Wound cleaner/ Antiseptic (100ml)": "@triggerBody()?['answer4_with_singular_value']"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['excelonlinebusiness_2']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/codeless/v1.2/drives/@{encodeURIComponent('b!g4E1NDjZPEeFRCZufTiEDLhfpxdwqWJBunzu_J-GK22h32uewUkkT5lZnlVNqBNw')}/items/@{encodeURIComponent('012DAKHSNBXXNOB7RB7VGLC7KEWOTMWX42')}/workbook/tables/@{encodeURIComponent('{D0563C8A-2E44-41CB-AAF5-10B7D92014BF}')}/rows",
                        "queries": {
                            "source": "sites/ramcogroupltd.sharepoint.com,34358183-d938-473c-8544-266e7d38840c,17a75fb8-a970-4162-ba7c-eefc9f862b6d"
                        }
                    }
                }
            },
            "runAfter": {
                "Condition_4": [
                    "Succeeded"
                ]
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@triggerBody()?['answer1_with_singular_value']",
                            "Polythene"
                        ]
                    }
                ]
            },
            "type": "If"
        },
        "Condition_6": {
            "actions": {
                "Add_a_row_into_a_table_6": {
                    "runAfter": {},
                    "metadata": {
                        "012DAKHSMXPGECVOSQPZGZ6NTG77FHI2PM": "/EHS/Checklists/Weekly/First Aid Box (1).xlsx"
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "1 non-allergic adhesive strip (25mm*3m)": "@triggerBody()?['answer24_with_singular_value']",
                            "1 packet adhesive dressing strips (minimum quantiy = 10 assorted sizes)": "@triggerBody()?['answer26_with_singular_value']",
                            "1 pair forceps (for splinters)": "@triggerBody()?['answer12_with_singular_value']",
                            "1 pair scissors (100mm)": "@triggerBody()?['answer14_with_singular_value']",
                            "1 roll elastic adhesive (25mm*3m)": "@triggerBody()?['answer22_with_singular_value']",
                            "1 set of safety pins": "@triggerBody()?['answer16_with_singular_value']",
                            "2 CPR mouthpieces or similar devices": "@triggerBody()?['answer36_with_singular_value']",
                            "2 pairs large & 2 pairs medium disposable latex gloves": "@triggerBody()?['answer34_with_singular_value']",
                            "2 straight splints": "@triggerBody()?['answer32_with_singular_value']",
                            "4 first aid dressing (75mm*100mm)": "@triggerBody()?['answer28_with_singular_value']",
                            "4 first aid dressings (150 * 200mm)": "@triggerBody()?['answer30_with_singular_value']",
                            "4 roller bandages (100mm*5m)": "@triggerBody()?['answer20_with_singular_value']",
                            "4 triangular bandages (75mm*5m)": "@triggerBody()?['answer18_with_singular_value']",
                            "Cotton wool for padding (100g)": "@triggerBody()?['answer8_with_singular_value']",
                            "Date": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                            "Name of first aider": "@triggerBody()?['answer2']",
                            "Quantity to replace": "-@{triggerBody()?['answer5']}",
                            "Quantity to replace10": "-@{triggerBody()?['answer27']}",
                            "Quantity to replace11": "-@{triggerBody()?['answer29']}",
                            "Quantity to replace12": "-@{triggerBody()?['answer31']}",
                            "Quantity to replace13": "-@{triggerBody()?['answer33']}",
                            "Quantity to replace14": "-@{triggerBody()?['answer35']}",
                            "Quantity to replace15": "-@{triggerBody()?['answer37']}",
                            "Quantity to replace16": "-@{triggerBody()?['answer25']}",
                            "Quantity to replace2": "-@{triggerBody()?['answer7']}",
                            "Quantity to replace3": "-@{triggerBody()?['answer9']}",
                            "Quantity to replace33": "-@{triggerBody()?['answer11']}",
                            "Quantity to replace4": "-@{triggerBody()?['answer13']}",
                            "Quantity to replace5": "-@{triggerBody()?['answer15']}",
                            "Quantity to replace6": "-@{triggerBody()?['answer17']}",
                            "Quantity to replace7": "-@{triggerBody()?['answer19']}",
                            "Quantity to replace8": "-@{triggerBody()?['answer21']}",
                            "Quantity to replace9": "-@{triggerBody()?['answer23']}",
                            "Sterile gauze (minimum quantity = 10)": "@triggerBody()?['answer10_with_singular_value']",
                            "Swabs for cleaning wounds": "@triggerBody()?['answer6_with_singular_value']",
                            "Wound cleaner/ Antiseptic (100ml)": "@triggerBody()?['answer4_with_singular_value']"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['excelonlinebusiness_2']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/codeless/v1.2/drives/@{encodeURIComponent('b!g4E1NDjZPEeFRCZufTiEDLhfpxdwqWJBunzu_J-GK22kk4tt4keDSZ_ZdgmrQkph')}/items/@{encodeURIComponent('012DAKHSMXPGECVOSQPZGZ6NTG77FHI2PM')}/workbook/tables/@{encodeURIComponent('{D0563C8A-2E44-41CB-AAF5-10B7D92014BF}')}/rows",
                        "queries": {
                            "source": "sites/ramcogroupltd.sharepoint.com,34358183-d938-473c-8544-266e7d38840c,17a75fb8-a970-4162-ba7c-eefc9f862b6d"
                        }
                    }
                }
            },
            "runAfter": {
                "Condition_5": [
                    "Succeeded"
                ]
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@triggerBody()?['answer1_with_singular_value']",
                            "PPL"
                        ]
                    }
                ]
            },
            "type": "If"
        },
        "Condition_7": {
            "actions": {
                "Add_a_row_into_a_table_7": {
                    "runAfter": {},
                    "metadata": {
                        "012DAKHSIM47F7LRMDB5DKNGYGZJY2AX7Z": "/EHS/Checklists/Weekly/First Aid Box (1).xlsx"
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "1 non-allergic adhesive strip (25mm*3m)": "@triggerBody()?['answer24_with_singular_value']",
                            "1 packet adhesive dressing strips (minimum quantiy = 10 assorted sizes)": "@triggerBody()?['answer26_with_singular_value']",
                            "1 pair forceps (for splinters)": "@triggerBody()?['answer12_with_singular_value']",
                            "1 pair scissors (100mm)": "@triggerBody()?['answer14_with_singular_value']",
                            "1 roll elastic adhesive (25mm*3m)": "@triggerBody()?['answer22_with_singular_value']",
                            "1 set of safety pins": "@triggerBody()?['answer16_with_singular_value']",
                            "2 CPR mouthpieces or similar devices": "@triggerBody()?['answer36_with_singular_value']",
                            "2 pairs large & 2 pairs medium disposable latex gloves": "@triggerBody()?['answer34_with_singular_value']",
                            "2 straight splints": "@triggerBody()?['answer32_with_singular_value']",
                            "4 first aid dressing (75mm*100mm)": "@triggerBody()?['answer28_with_singular_value']",
                            "4 first aid dressings (150 * 200mm)": "@triggerBody()?['answer30_with_singular_value']",
                            "4 roller bandages (100mm*5m)": "@triggerBody()?['answer20_with_singular_value']",
                            "4 triangular bandages (75mm*5m)": "@triggerBody()?['answer18_with_singular_value']",
                            "Cotton wool for padding (100g)": "@triggerBody()?['answer8_with_singular_value']",
                            "Date": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                            "Name of first aider": "@triggerBody()?['answer2']",
                            "Quantity to replace": "-@{triggerBody()?['answer5']}",
                            "Quantity to replace10": "-@{triggerBody()?['answer27']}",
                            "Quantity to replace11": "-@{triggerBody()?['answer29']}",
                            "Quantity to replace12": "-@{triggerBody()?['answer31']}",
                            "Quantity to replace13": "-@{triggerBody()?['answer33']}",
                            "Quantity to replace14": "-@{triggerBody()?['answer35']}",
                            "Quantity to replace15": "-@{triggerBody()?['answer37']}",
                            "Quantity to replace16": "-@{triggerBody()?['answer25']}",
                            "Quantity to replace2": "-@{triggerBody()?['answer7']}",
                            "Quantity to replace3": "-@{triggerBody()?['answer9']}",
                            "Quantity to replace33": "-@{triggerBody()?['answer11']}",
                            "Quantity to replace4": "-@{triggerBody()?['answer13']}",
                            "Quantity to replace5": "-@{triggerBody()?['answer15']}",
                            "Quantity to replace6": "-@{triggerBody()?['answer17']}",
                            "Quantity to replace7": "-@{triggerBody()?['answer19']}",
                            "Quantity to replace8": "-@{triggerBody()?['answer21']}",
                            "Quantity to replace9": "-@{triggerBody()?['answer23']}",
                            "Sterile gauze (minimum quantity = 10)": "@triggerBody()?['answer10_with_singular_value']",
                            "Swabs for cleaning wounds": "@triggerBody()?['answer6_with_singular_value']",
                            "Wound cleaner/ Antiseptic (100ml)": "@triggerBody()?['answer4_with_singular_value']"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['excelonlinebusiness_2']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/codeless/v1.2/drives/@{encodeURIComponent('b!g4E1NDjZPEeFRCZufTiEDLhfpxdwqWJBunzu_J-GK22UsYI9vqFGSazzeAY4Evkz')}/items/@{encodeURIComponent('012DAKHSIM47F7LRMDB5DKNGYGZJY2AX7Z')}/workbook/tables/@{encodeURIComponent('{D0563C8A-2E44-41CB-AAF5-10B7D92014BF}')}/rows",
                        "queries": {
                            "source": "sites/ramcogroupltd.sharepoint.com,34358183-d938-473c-8544-266e7d38840c,17a75fb8-a970-4162-ba7c-eefc9f862b6d"
                        }
                    }
                }
            },
            "runAfter": {
                "Condition_6": [
                    "Succeeded"
                ]
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@triggerBody()?['answer1_with_singular_value']",
                            "Pressmaster"
                        ]
                    }
                ]
            },
            "type": "If"
        },
        "Condition_8": {
            "actions": {
                "Add_a_row_into_a_table_8": {
                    "runAfter": {},
                    "metadata": {
                        "012DAKHSLUVJ2FLYRUNBCIZYYVXO5GUBQS": "/EHS/Checklists/Weekly/First Aid Box (1).xlsx"
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "1 non-allergic adhesive strip (25mm*3m)": "@triggerBody()?['answer24_with_singular_value']",
                            "1 packet adhesive dressing strips (minimum quantiy = 10 assorted sizes)": "@triggerBody()?['answer26_with_singular_value']",
                            "1 pair forceps (for splinters)": "@triggerBody()?['answer12_with_singular_value']",
                            "1 pair scissors (100mm)": "@triggerBody()?['answer14_with_singular_value']",
                            "1 roll elastic adhesive (25mm*3m)": "@triggerBody()?['answer22_with_singular_value']",
                            "1 set of safety pins": "@triggerBody()?['answer16_with_singular_value']",
                            "2 CPR mouthpieces or similar devices": "@triggerBody()?['answer36_with_singular_value']",
                            "2 pairs large & 2 pairs medium disposable latex gloves": "@triggerBody()?['answer34_with_singular_value']",
                            "2 straight splints": "@triggerBody()?['answer32_with_singular_value']",
                            "4 first aid dressing (75mm*100mm)": "@triggerBody()?['answer28_with_singular_value']",
                            "4 first aid dressings (150 * 200mm)": "@triggerBody()?['answer30_with_singular_value']",
                            "4 roller bandages (100mm*5m)": "@triggerBody()?['answer20_with_singular_value']",
                            "4 triangular bandages (75mm*5m)": "@triggerBody()?['answer18_with_singular_value']",
                            "Cotton wool for padding (100g)": "@triggerBody()?['answer8_with_singular_value']",
                            "Date": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                            "Name of first aider": "@triggerBody()?['answer2']",
                            "Quantity to replace": "-@{triggerBody()?['answer5']}",
                            "Quantity to replace10": "-@{triggerBody()?['answer27']}",
                            "Quantity to replace11": "-@{triggerBody()?['answer29']}",
                            "Quantity to replace12": "-@{triggerBody()?['answer31']}",
                            "Quantity to replace13": "-@{triggerBody()?['answer33']}",
                            "Quantity to replace14": "-@{triggerBody()?['answer35']}",
                            "Quantity to replace15": "-@{triggerBody()?['answer37']}",
                            "Quantity to replace16": "-@{triggerBody()?['answer25']}",
                            "Quantity to replace2": "-@{triggerBody()?['answer7']}",
                            "Quantity to replace3": "-@{triggerBody()?['answer9']}",
                            "Quantity to replace33": "-@{triggerBody()?['answer11']}",
                            "Quantity to replace4": "-@{triggerBody()?['answer13']}",
                            "Quantity to replace5": "-@{triggerBody()?['answer15']}",
                            "Quantity to replace6": "-@{triggerBody()?['answer17']}",
                            "Quantity to replace7": "-@{triggerBody()?['answer19']}",
                            "Quantity to replace8": "-@{triggerBody()?['answer21']}",
                            "Quantity to replace9": "-@{triggerBody()?['answer23']}",
                            "Sterile gauze (minimum quantity = 10)": "@triggerBody()?['answer10_with_singular_value']",
                            "Swabs for cleaning wounds": "@triggerBody()?['answer6_with_singular_value']",
                            "Wound cleaner/ Antiseptic (100ml)": "@triggerBody()?['answer4_with_singular_value']"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['excelonlinebusiness_2']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/codeless/v1.2/drives/@{encodeURIComponent('b!g4E1NDjZPEeFRCZufTiEDLhfpxdwqWJBunzu_J-GK21Zbz70lhgeRrEUj-vRcpoJ')}/items/@{encodeURIComponent('012DAKHSLUVJ2FLYRUNBCIZYYVXO5GUBQS')}/workbook/tables/@{encodeURIComponent('{D0563C8A-2E44-41CB-AAF5-10B7D92014BF}')}/rows",
                        "queries": {
                            "source": "sites/ramcogroupltd.sharepoint.com,34358183-d938-473c-8544-266e7d38840c,17a75fb8-a970-4162-ba7c-eefc9f862b6d"
                        }
                    }
                }
            },
            "runAfter": {
                "Condition_7": [
                    "Succeeded"
                ]
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@triggerBody()?['answer1_with_singular_value']",
                            "RPWL Unit1"
                        ]
                    }
                ]
            },
            "type": "If"
        },
        "Condition_9": {
            "actions": {
                "Add_a_row_into_a_table_9": {
                    "runAfter": {},
                    "metadata": {
                        "012DAKHSLYLRENRW6KRJEZH274JL3MD467": "/EHS/Checklists/Weekly/First Aid Box (1).xlsx"
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "1 non-allergic adhesive strip (25mm*3m)": "@triggerBody()?['answer24_with_singular_value']",
                            "1 packet adhesive dressing strips (minimum quantiy = 10 assorted sizes)": "@triggerBody()?['answer26_with_singular_value']",
                            "1 pair forceps (for splinters)": "@triggerBody()?['answer12_with_singular_value']",
                            "1 pair scissors (100mm)": "@triggerBody()?['answer14_with_singular_value']",
                            "1 roll elastic adhesive (25mm*3m)": "@triggerBody()?['answer22_with_singular_value']",
                            "1 set of safety pins": "@triggerBody()?['answer16_with_singular_value']",
                            "2 CPR mouthpieces or similar devices": "@triggerBody()?['answer36_with_singular_value']",
                            "2 pairs large & 2 pairs medium disposable latex gloves": "@triggerBody()?['answer34_with_singular_value']",
                            "2 straight splints": "@triggerBody()?['answer32_with_singular_value']",
                            "4 first aid dressing (75mm*100mm)": "@triggerBody()?['answer28_with_singular_value']",
                            "4 first aid dressings (150 * 200mm)": "@triggerBody()?['answer30_with_singular_value']",
                            "4 roller bandages (100mm*5m)": "@triggerBody()?['answer20_with_singular_value']",
                            "4 triangular bandages (75mm*5m)": "@triggerBody()?['answer18_with_singular_value']",
                            "Cotton wool for padding (100g)": "@triggerBody()?['answer8_with_singular_value']",
                            "Date": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                            "Name of first aider": "@triggerBody()?['answer2']",
                            "Quantity to replace": "-@{triggerBody()?['answer5']}",
                            "Quantity to replace10": "-@{triggerBody()?['answer27']}",
                            "Quantity to replace11": "-@{triggerBody()?['answer29']}",
                            "Quantity to replace12": "-@{triggerBody()?['answer31']}",
                            "Quantity to replace13": "-@{triggerBody()?['answer33']}",
                            "Quantity to replace14": "-@{triggerBody()?['answer35']}",
                            "Quantity to replace15": "-@{triggerBody()?['answer37']}",
                            "Quantity to replace16": "-@{triggerBody()?['answer25']}",
                            "Quantity to replace2": "-@{triggerBody()?['answer7']}",
                            "Quantity to replace3": "-@{triggerBody()?['answer9']}",
                            "Quantity to replace33": "-@{triggerBody()?['answer11']}",
                            "Quantity to replace4": "-@{triggerBody()?['answer13']}",
                            "Quantity to replace5": "-@{triggerBody()?['answer15']}",
                            "Quantity to replace6": "-@{triggerBody()?['answer17']}",
                            "Quantity to replace7": "-@{triggerBody()?['answer19']}",
                            "Quantity to replace8": "-@{triggerBody()?['answer21']}",
                            "Quantity to replace9": "-@{triggerBody()?['answer23']}",
                            "Sterile gauze (minimum quantity = 10)": "@triggerBody()?['answer10_with_singular_value']",
                            "Swabs for cleaning wounds": "@triggerBody()?['answer6_with_singular_value']",
                            "Wound cleaner/ Antiseptic (100ml)": "@triggerBody()?['answer4_with_singular_value']"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['excelonlinebusiness_2']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/codeless/v1.2/drives/@{encodeURIComponent('b!g4E1NDjZPEeFRCZufTiEDLhfpxdwqWJBunzu_J-GK224_MWHSLrlToHLAKKgheJk')}/items/@{encodeURIComponent('012DAKHSLYLRENRW6KRJEZH274JL3MD467')}/workbook/tables/@{encodeURIComponent('{D0563C8A-2E44-41CB-AAF5-10B7D92014BF}')}/rows",
                        "queries": {
                            "source": "sites/ramcogroupltd.sharepoint.com,34358183-d938-473c-8544-266e7d38840c,17a75fb8-a970-4162-ba7c-eefc9f862b6d"
                        }
                    }
                }
            },
            "runAfter": {
                "Condition_8": [
                    "Succeeded"
                ]
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@triggerBody()?['answer1_with_singular_value']",
                            "RPWL Unit2"
                        ]
                    }
                ]
            },
            "type": "If"
        }
    },
    "outputs": {}
}